body {
    padding-top: 50px;
    padding-bottom: 20px;
         /*background: url(../Images/back.jpg) repeat-x;*/
     background-color:/*#796456;*/#a8a6a6;
     /*background-color:#edf7ff;*/
   }

/* Set padding to keep content from hitting the edges */
.body-content {
   /* padding-left: 15px;
    padding-right: 15px;*/
    margin-top:20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.main-part 
{
    background-color:/*#c8bdb4;*/#d6d5d5;
    padding:24px;
    border-radius:0 0 5px 5px;
    -moz-radius:0 0 5px 5px;
    margin-right:24px;
    margin-bottom:20px;  
    border: 1px solid #fff;
    /*box-shadow: 1px 2px 3px #888888;*/
}
.main-part1
{
    
    /*background-color:#B4B4B4;*/
    background-color:#6b7a8f;
    padding:24px;
    border-radius:5px;
    -moz-radius:5px;
    margin-right:24px;
    min-height:300px;
    margin-bottom:20px;
    border: 1px solid #fff;
    color:#FFFFFF;
}
.main-part2 
{
    background-color:#ffffff;
    padding:24px;
    border-radius:5px;
    -moz-radius:5px;
    margin-right:24px;
    margin-bottom:20px;
    min-height:300px;
    border: 1px solid #fff;
}
.min 
{
    min-height:300px;
}
.part
 {
    height:30px;
    margin-top:9px;
}

.part1
 {
    height:44px;
    margin-top: -9px;
     margin-bottom:7px;
}
.part2
 {
    height:30px;
    margin-top:9px;
}
.part3
 {
    height:50px;
}
.part4
 {
    height:50px;
    margin-top:9px;
}
    .label1
     {
    
    float: left;
    width: 100%;
    border-radius:3px;
    }
.form-button 
{
    background-color: #5c5a5a;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    height: 33px;
    width: 92px;
    margin-right:0;
}
.form-button1 
{
    height:22px;
}
.form-button2 a 
{   float:left;
    background-color: #5c5a5a;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    height: 22px;
    width:85px;
    line-height:22px;
    margin-right:0;
    margin-left:-11px;
}
.form-button a 
{
    height:22px;
}
.form-button2 a:hover
    {
    background-color:#434141;
    color:#faeaea;
    text-decoration:none;
    }
.form-button:hover
    {
    background-color:#434141;
    color:#e6e0db;
    }
.form-button3 a 
{   float:left;
    background-color: #5c5a5a;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    height: 22px;
    width:85px;
    line-height:22px;
    margin-right:0;
    margin-left:-12px;
    text-align:center;
}
.form-button3 a:hover
    {
    background-color:#434141;
    color:#faeaea;
    text-decoration:none;
    }
.form-button4 
{
    background-color: #5c5a5a;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    height: 22px;
    width: 92px;
    margin-right:0;
}
.margf 
{
    float:right;
}
.margl 
{
    float:left;
}
.marg 
{
    margin-left: 83%;
   
}
.marg1 {
    height: 33px;
    margin-left: 82%;
    width: 198px;
}
.marg2
{
    margin-left:56%;
   
}
.marg3
{
    margin-left: 46%;
    margin-top: -106px;
   
}
.marg4 {
    margin-left: 40%;
    margin-top: -40px;
      }
.marg5 {
    margin-left:70.5%;
    margin-top: -106px;
}
.marg6 {
    margin-left: 92%;
    padding-top:0;
}
.top4 {
    margin-top: -54px;
}

.main-list 
{
background-color: #ffffff;
    border-radius: 5px;
    line-height: 9px;
    padding: 1px;
    width: 98%;
}
.main-list1 
{
    width:97%;
}
.main-list-head 
{  
    background: url(../Images/head-back.jpg) repeat; 
   /*background-color: #18b2e9;*/
    height: 32px;
    line-height: 32px;

    color:#ffffff;
}
.main-list-inn {
  display: block;
  width: 100%;
  height: 22px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #18b2e9;
  background-color:#e1f4fa;
  }
.grid-header 
{
    background-color: #676464;
    border-right: 1px solid #fff;
    color: #fff;
}
.grid-header-title 
{
    padding-left:5px;
    font-size:12px;
}
.grid-cell 
{
        border-right: 1px solid #d6d8de;
        font-size:12px;
        marging-left:5px;

}


.main-grid tr
 {
    border:0;
}
.main-grid
{
 border-left:1px solid #d6d8de;  
 border-bottom:1px solid #d6d8de;
 margin:15px;   
}
    .main-grid .grid-cell 
    {
        padding-left:4px;
    }
.main-grid .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
{
    padding:4px !important;
}
 .main-grid .table 
 {
    margin-bottom:0;
}
    .main-grid .table thead > tr > th 
    {
        border-bottom:0;
    }

    .main-grid-top
{
margin-top:0px;
}


.grid-pager 
{
    padding-left:10px;
    border:1px solid #d6d8de;
    border-bottom:0;
    border-left:0;
    background-color:#fff;
}
.cent 
{
    text-align:center;
}
.editor-field 
{
    font-size:12px;
}

.scroll 
{
    max-height: 293px;
    overflow:auto;
}
.scroll1 
{
    max-height: 350px;
    overflow:auto;
}
.maintd
{
    float:left;

}
.white 
{
    background-color:#fff;
}
.grid_row_pr
 {
background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #000;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    padding-right: 5px;
  
}


.grid_row_pr2
 {
background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #000;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    margin-left: 19px;
    padding-left: 5px;
    padding-right: 5px;
    width:auto;
    float:left;
  
}

.grid-new
{
    background-color:#ebebeb;
    border:1px solid #b8b7b7;
    margin-top:3px;
}


