@model ArabErp.Domain.SupplyOrder

<div class="row form-group">
    <div class="col-md-12">
        <div class="row">
            <div class="part1">
                <div class="col-md-1">
                    <label for="SplRemarks1">Spl.Remarks</label>
                </div>
                <div class="col-md-11">
                    @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="part">
                <div class="col-md-1">
                    <label for="payterms">Payment Terms</label>
                </div>
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="part">
                <div class="col-md-1">
                    <label for="delterms">Delivery Terms</label>
                </div>
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.DeliveryTerms, new { @class = "form_input" })
                </div>
            </div>
        </div>



    </div>
</div>