@using ArabErp.Domain
@model SupplyOrder
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Supply Order</h4>
        </div>
        <div class="main-part pad1">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="sono">SO.No.</label>
                        <input type="text" id="sono" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="selectCustomer">Supplier</label>
                        <select id="supplier" class="form_input">
                            <option>Select Supplier</option>
                            <option>Supplier1</option>
                            <option>Supplier2</option>
                            <option>Supplier3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="cusref">Quotation No. & Date</label>
                        <input type="text" id="cusref" autocomplete="off" class="form_input" />
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="5%"><h1>Sl.No.</h1></th>
                                <th width="20%"><h1>PRS No & Date</h1></th>
                                <th width="25%"><h1>Material</h1></th>
                                <th width="10%"><h1>Part No</h1></th>
                                <th width="10%" class="text-right"><h1>Bal Qty</h1></th>
                                <th width="15%" class="text-right"><h1>Ordered Qty</h1></th>
                                <th width="5%" class="text-right"><h1>Rate</h1></th>
                                <th width="5%" class="text-right"><h1>Discount</h1></th>
                                <th width="5%" class="text-right"><h1>Amount</h1></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
@for (int i = 0; i < Model.SupplyOrderItems.Count(); i++)
{
                            <tr>
                                <td>1</td>
                                <td>@Model.SupplyOrderItems[i].PurchaseRequestItemId</td>
                                <td>@Model.SupplyOrderItems[i].ItemName</td>
                                <td>@Model.SupplyOrderItems[i].PartNo</td>
                                <td>@Model.SupplyOrderItems[i].BalQty</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              
                            </tr>
}
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" class="form_input form_input-h"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="payterms">Payment Terms</label>
                        <input type="text" id="payterms" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="delterms">Delivery Terms</label>
                        <input type="text" id="delterms" class="form_input" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="reqdate">Required Date</label>
                        <input type="date" id="reqdate" style="min-width: 100%" class="form_input" />
                    </div>
                </div>
                <div class="marg">
                    <button class="form-button">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                
                </div>
            </form>
        </div>
        </div>
</div>


