@model ArabErp.Domain.EmployeeCategory
@{ ViewBag.Title = "create";Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    $(document).ready(function () {
        $('#EmployeeCategory_form').bootstrapValidator({
            fields: {
                EmpCategoryRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                EmpCategoryName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

            }
        });
    })

</script>


<div class="h4bgcolor ">
    <h4>Employee Category</h4>
</div>

<div class="container">
    <div class="row ">

        <div class="col-md-4">
        </div>

        <div class=" col-md-4">
          @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "EmployeeCategory_form" }))
                   {

                <div class=" row form-group">
                    <div class=" col-md-12">
                        <label for="EmpCategoryRefNo">Code</label>
                        @Html.TextBoxFor(m => m.EmpCategoryRefNo, new { @class = "form_input", autocomplete = "off" })
                    </div>

                </div>

                <div class="row form-group ">
                    <div class="col-md-12">
                        <label for="EmpCategoryName">Name</label>
                        @Html.TextBoxFor(m => m.EmpCategoryName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-12">
                        <div style=" float :right" class="alignCenter">
                            <button type="button" class="button-style">Exit</button>
                        </div>

                        <div style=" float :right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>

          }
        </div>

        <div class="col-md-4">
        </div>

    </div>
    <div class=" col-md-4">
    </div>

    <div class="col-md-4">
        @Html.Action("FillEmployeeCategoryList")
    </div>

    <div class="col-md-4">
    </div>
</div>