
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#BCBABE">
    <h4>Customer</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="code">Code</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-8">
                        <label for="name">Name</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    </div>
                <div class="row form-group">
                    <div class="col-md-8">
                        <label for="prntname">Print Name</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                </div>
                    <div class="col-md-4">
                        <label for="categry">Category</label>
                        <select id="categry" class="form_input" autocomplete="off">
                            <option>Select Category</option>
                            <option>Category1</option>
                            <option>Category2</option>
                        </select>
                    </div>
                   
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="leadsource">Lead Source</label>
                        <select id="leadsource" class="form_input" autocomplete="off">
                            <option>Select Lead Source</option>
                            <option>Lead Source1</option>
                            <option>Lead Source2</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="name">Currency</label>
                        <select id="desg" class="form_input" autocomplete="off">
                            <option>Select Currency</option>
                            <option>Currency1</option>
                            <option>Currency2</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="code">Door No.& Building</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                   
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="name">Street & City</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="prntname">State</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="code">Country</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="name">Zip</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="prntname">Phone No.</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="code">Fax</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                   
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="name">E-mail</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    <div class="col-md-8">
                        <label for="prntname">Contact Person</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                    </div>
                  
                </div>
                <div style="font-weight:bold">Statutory Details</div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="code">ECC No.</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                            <div class="col-md-4">
                            <label for="name">LST No.</label>
                            <input type="text" autocomplete="off" id="name" class="form_input" />
                        </div>
                        <div class="col-md-4">
                            <label for="prntname">CST No.</label>
                            <input type="text" autocomplete="off" id="prntname" class="form_input" />
                        </div>
                       
                    
                </div>
                <div class=" row form-group ">
                    
                        <div class="col-md-3">
                            <label for="code">TIN No.</label>
                            <input type="text" id="code" autocomplete="off" class="form_input" />
                        </div>
                    <div class="col-md-3">
                        <label for="name">SSI No.</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="prntname">PAN No.</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="prntname">ST No.</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                    </div>
                </div>
                <div class="col-md-12 col-md-4">
                    <div style="float:left" class="alignCenter">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div style="float:right" class="alignCenter">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

