
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Customer</h4>
</div>
<div class="container">
    <div class="row">
       
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="code">Code</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-5">
                        <label for="name">Name</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="prntname">Print Name</label>
                        <input type="text" autocomplete="off" id="prntname" class="form_input" />
                    </div>
                    </div>
                <div class="row form-group">
                   
                    <div class="col-md-3">
                        <label for="categry">Category</label>
                        <select id="categry" class="form_input" autocomplete="off">
                            <option>Select Category</option>
                            <option>Category1</option>
                            <option>Category2</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="leadsource">Lead Source</label>
                        <select id="leadsource" class="form_input" autocomplete="off">
                            <option>Select Lead Source</option>
                            <option>Lead Source1</option>
                            <option>Lead Source2</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="curnc">Currency</label>
                        <select id="curnc" class="form_input" autocomplete="off">
                            <option>Select Currency</option>
                            <option>Currency1</option>
                            <option>Currency2</option>
                        </select>
                    </div>
                </div>
                <div style=" font-weight:bold">Address & Communication</div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="doorno">Door No.& Building</label>
                        <input type="text" id="doorno" autocomplete="off" class="form_input" />
                    </div>

                    <div class="col-md-3">
                        <label for="street">Street & City</label>
                        <input type="text" autocomplete="off" id="street" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="state">State</label>
                        <input type="text" autocomplete="off" id="state" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="country">Country</label>
                        <select id="country" class="form_input" autocomplete="off">
                            <option>Select Country</option>
                            <option>Country1</option>
                            <option>Country2</option>
                        </select>
                    </div>
                    
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="zip">Zip</label>
                        <input type="text" autocomplete="off" id="zip" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="phno">Phone No.</label>
                        <input type="text" autocomplete="off" id="phno" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="fax">Fax</label>
                        <input type="text" id="fax" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="email">E-mail</label>
                        <input type="text" autocomplete="off" id="email" class="form_input" />
                    </div>
                </div>
                <div class="row form-group">
                   
                    <div class="col-md-6">
                        <label for="cntperson">Contact Person</label>
                        <input type="text" autocomplete="off" id="cntperson" class="form_input" />
                    </div>
                  
                </div>
                <div style="font-weight:bold">Statutory Details</div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="eccno">ECC No.</label>
                        <input type="text" id="eccno" autocomplete="off" class="form_input" />
                    </div>
                            <div class="col-md-3">
                            <label for="lstno">LST No.</label>
                                <input type="text" autocomplete="off" id="lstno" class="form_input" />
                        </div>
                        <div class="col-md-3">
                            <label for="cstno">CST No.</label>
                            <input type="text" autocomplete="off" id="cstno" class="form_input" />
                        </div>
                    <div class="col-md-3">
                        <label for="tinno">TIN No.</label>
                        <input type="text" id="tinno" autocomplete="off" class="form_input" />
                    </div>
                    </div>
                <div class=" row form-group ">
                    
                       
                    <div class="col-md-3">
                        <label for="ssino">SSI No.</label>
                        <input type="text" autocomplete="off" id="ssino" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="panno">PAN No.</label>
                        <input type="text" autocomplete="off" id="panno" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="stno">ST No.</label>
                        <input type="text" autocomplete="off" id="stno" class="form_input" />
                    </div>
                </div>
                <div class="row">
                <div class="col-md-1">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div class="col-md-offset-11">
                    <button type="submit" class="button-style">Save</button>
                </div>
                </div>
             </form>
       
    </div>
</div>

