@{ViewBag.Title = "Customer List"; Layout = "~/Views/Shared/_Layout.cshtml";}

<script type="text/javascript">

    function openPop() {
        var url = '@Url.Action("Create")';
        window.location = url;
    }

    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }



    function Filter() {
        $("#customer-grid").addClass("fade");
        var customer = $("#cboCustomer").val().trim();
        var url = '@Url.Action("CustomerList")';
        url += "?customer=" + encodeURIComponent(customer);
        //$('#customer-grid').load(url);
        $("#customer-grid").load(url, function () {
            $("#customer-grid").removeClass("fade");
        });
    }

</script>

<style type="text/css">
    .fade {
        opacity: 0.6;
    }
</style>


<div class="row">

    <div class="form-head1">
        <h4>Customer List</h4>
    </div>
    <div class="main-part pad1">
        @*<div class="row">
                <div class="col-md-2">
                    <label>Customer</label>
                    <input id="cboCustomer" class="form_input" onchange="Filter()" onkeyup="Filter()" />

                </div>
            </div>*@
        <div class="row">
            
                <div class="col-md-3">
                    <label for="txtName">Customer</label>
                    <input type="text" class="form_input bluebox" id="cboCustomer" onchange="Filter()" onkeyup="Filter()" />
                </div>

        </div>
        <br />
        <div class="row" id="customer-grid">
            @Html.Action("CustomerList")
        </div>



        <div class="row">
            <div class="col-md-12 hrpart1">
                <button type="submit" class="form-button" onclick="openPop();">Create</button>
                <button type="button" class="form-button right" onclick="Exit();">Exit</button>


            </div>
        </div>

    </div>

</div>
