@{
    ViewBag.Title = "ShowSessionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-content1">
    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-12">
                @Session.Timeout.ToString()
            </div>
        </div>
    </div>
</div>

