@{
    ViewBag.Title = "Supply Order/LPO Follow-up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Exit() {

        location.href = '@Url.Action("Index","Home")';
    }

    function Filter() {
        $(grid).addClass("fade");
        var url = '@Url.Action("ItemList")';
        var name = $("#txtName").val();
        var Suppliername = $("#txtSupplier").val();
        var batch = $("#cboBatch").val();
        name = name.replace(/ /g, "+");
        //url += "?name=" + name;
        //url += "?name=" + Suppliername;
        url += "?name=" + name + "&Suppliername=" + Suppliername + "&batch=" + batch;

        $("#grid").load(url, function () {
            $(grid).removeClass("fade");
        });
    }

</script>

<div class="row">

    <div class="form-head1">
        <h4>Supply Order/LPO Follow-up</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-3">
                <label for="txtName">Material/Spare</label>
                <input type="text" class="form_input" id="txtName" onkeyup="Filter()" />
            </div>

            <div class="col-md-3">
                <label for="txtSupplier">Supplier</label>
                <input type="text" class="form_input" id="txtSupplier" onkeyup="Filter()" />
            </div>

            <div class="col-md-3">
                <label for="cboBatch">Batch</label>
                @Html.DropDownList("cboBatch", (SelectList)ViewBag.BatchList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>

        <br />
        @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "SupplyOrderFollowup_form" }))
        {
            <div class="row" id="grid">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive" id="work-description-table">
                        @Html.Action("ItemList")
                    </div>
                    <div class="row">
                        <div class="col-md-12 hrpart">
                            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                            <button type="submit" class="form-button right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




