@model IList<ArabErp.Domain.Employee>
@using GridMvc.Html

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>



<div class="table-responsive">

    <div class="main-grid">

        @Html.Grid(Model).Columns(columns =>
                        {
                            //columns.Add(m => m.EmployeeId).Titled("ID").SetWidth(110);
                            columns.Add(m => m.EmployeeRefNo).Titled("Ref No.").SetWidth(30);
                            columns.Add(m => m.EmployeeName).Titled("Name").SetWidth(150);
                            columns.Add(m => m.Gender).Titled("Gender").SetWidth(50);
                            columns.Add(m => m.DesignationName).Titled("Designation").SetWidth(150);
                            @*columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="">Edit</a>);
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="">Delete</a>);*@
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Edit", new { EmployeeId = o.EmployeeId })">Edit</a>);
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Delete", new { EmployeeId = o.EmployeeId })">Delete</a>);
                            //.Format("<a href="\"DeleteRecord?name={CategoryName}\"">{CategoryName}</a>");

                            //columns.Add(m => m.CurrencyName).Sortable(true);
                        }).WithPaging(10)

</div>
    </div>