@model ArabErp .Domain.Employee
          
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="h4bgcolor">
    <h4>Employee</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="EmployeeRefNo">Code</label>
                        <input type="text" id="EmployeeRefNo" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="EmployeeName">Employee</label>
                        <input type="text" autocomplete="off" id="EmployeeName" class="form_input" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <input type="radio" name="">
                                <span class="text">Male</span>
                            </div>
                            <div class="col-md-6">
                                <input type="radio" name="">
                                <span class="text">Female</span>
                            </div>
                                                           
                            </div>
                        <div class="col-md-6">
                            <label for="DesignationId">Designation</label>
                             @Html.DropDownList("designations",ViewBag.designations as List<SelectListItem>,"Select Designation", new { @class = "form_input" })
                        </div>
                        </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="CategoryId">Category</label>
                      
                    
                        <select id="CategoryId" class="form_input" autocomplete="off">
                            <option>Select Category</option>
                            <option>Category</option>
                            <option>Category2</option>
                            <option>Category3</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="LocationId">Location</label>
                        <select id="LocationId" class="form_input" autocomplete="off">
                            <option>Select Location</option>
                            <option>loc1</option>
                            <option>loc2</option>
                            <option>loc3</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="TaskId">Task Done</label>
                        <select id="TaskId" class="form_input" autocomplete="off">
                            <option>Select Task Done</option>
                            <option>Task 1</option>
                            <option>Task 2</option>
                            <option>Task 3</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="HourlyCost">Hourly Cost</label>
                        <input type="text" id="HourlyCost" autocomplete="off" class="form_input" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div class="col-md-offset-11">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>

             
                

            </form>
        </div>
    </div>
</div>

