
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" container">
    <div class="row">
        <div class="form-head form-head1 " >
            <h4>Employee List</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">
                @Html.Action("EmployeeList")
            </div>
        </div>
    </div>
</div>

