@model ArabErp.Domain.VehicleModel
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h4bgcolor">
    <h4>Vehicle Model</h4>
</div>

<div class=" container ">
    <div class="row ">

        <div class="col-md-3 ">

        </div>
        <div class="col-md-6">
            <form role="form" action="@Url.Action("Save")" method="post">

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="VehicleModelRefNo">Code</label>
                        @Html.TextBoxFor(m => m.VehicleModelRefNo, new { @class = "form_input", autocomplete = "off" })
                    </div>

                    <div class="col-md-6">
                        <label for="VehicleModelName">Name</label>
                        @Html.TextBoxFor(m => m.VehicleModelName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="VehicleModelDescription">Description</label>
                        @Html.TextBoxFor(m => m.VehicleModelDescription, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-12">
                        <div style="float:right" class="alignCenter">
                            <button type="button" class="button-style">Exit</button>
                        </div>
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class=" col-md-3">

        </div>

        </div>
</div>
