@model IList<ArabErp.Domain.VehicleModel>

@using GridMvc.Html

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>

<div class="table-responsive">
    <div class="main-grid scroll1">
        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(m => m.VehicleModelRefNo).Titled("Code").SetWidth(20);
                            columns.Add(m => m.VehicleModelName).Titled("Name").SetWidth(110);
                            columns.Add(m => m.VehicleModelDescription).Titled("Description").SetWidth(110);

                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Edit", new { Id = o.VehicleModelId })">Edit</a>);
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Delete", new { Id = o.VehicleModelId })">Delete</a>);

                            //.Format("<a href="\"DeleteRecord?name={CategoryName}\"">{CategoryName}</a>");

                            //columns.Add(m => m.CurrencyName).Sortable(true);
                        }).WithPaging(10)
    </div>
   
    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
   </div>   
 
    </div>

