
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function Filter() {
        $("#Cus_Sales").addClass("fade");
        var id = $("#cboWork").val();
        var url = '@Url.Action("CustomerWiseSalesRegister")';
        url += "?id=" + id;
        $("#Cus_Sales").load(url, function () {
            $("#Cus_Sales").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>

<div class="row">
    <div class="form-head1">

        <h4>Customer Wise Sales</h4>

    </div>
    <div class="main-part pad1">


        <div class="row">
            <div class="col-md-3">
                <label for="cboWork">Work Description</label>
                @Html.DropDownList("cboWork", (SelectList)ViewBag.ItmList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Cus_Sales">
                    @Html.Action("CustomerWiseSalesRegister")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>

