
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h4bgcolor">
    <h4>Unit</h4>
</div>

<div class=" container ">
    <div class="row">
        <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form role="form">

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="UnitId">Code</label>
                            <input type="text" id="UnitId" autocomplete="off" class=" form_input " />

                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="Unit">Unit</label>
                            <input type=" text" id="Unit" autocomplete=" off" class="form_input " />

                        </div>
                    </div>

                    <div class="col-md-12 col-md-4">
                        <div style=" float :left" class="alignCenter">
                            <button type="submit" class="button-style">Exit</button>
                        </div>

                        <div style=" float :right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    <div class="col-md-4">
    </div>
</div>
