
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function Filter() {
        $("#Prd_Sales").addClass("fade");
        var id = $("#cboCustomer").val();
        var url = '@Url.Action("ProductWiseSalesRegister")';
        url += "?id=" + id;
        $("#Prd_Sales").load(url, function () {
            $("#Prd_Sales").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>



<div class="row">
    <div class="form-head1">

        <h4>Product Wise Sales</h4>

    </div>
    <div class="main-part pad1">


        <div class="row">
            <div class="col-md-3">
                <label for="cboCustomer">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.CustomerList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Prd_Sales">
                    @Html.Action("ProductWiseSalesRegister")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>

