@model ArabErp.Domain.ItemCategory
@{ ViewBag.Title = "Create";Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
        $(document).ready(function () {
            $('#ItemCategory_form').bootstrapValidator({
                fields: {
                    itmCatRefNo: {
                        validators: {
                            notEmpty: {
                                message: 'Please Enter Code'
                            }
                        }
                    },

                    CategoryName: {
                        validators: {
                            notEmpty: {
                                message: 'Please Enter Name'
                            }
                        }
                    },
                }
            });
        })

    </script>





<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Item Category</h4>
        </div>


        <div class="main-part pad1">

            <div class="row">

                <div class="col-md-4">
                </div>

                <div class="col-md-4">

                    @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "ItemCategory_form" }))
                    {

                        <div class="part">

                            <label for="itmCatRefNo">Code</label>
                            @Html.TextBoxFor(m => m.itmCatRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })

                        </div>



                        <div class="part">
                            <label for="CategoryName">Name</label>
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form_input", autocomplete = "off" })
                        </div>


    <div class="row">

        <div class="col-md-12 hrpart">
            <button type="button" class="form-button right">Exit</button>
            <button type="submit" class="form-button right">Save</button>
        </div>

    </div>






                    }

                    <div class="col-md-4">

                    </div>

                </div>

            </div>

        </div>

        <div class="main-list">
            @Html.Action("FillItemCategoryList")
        </div>
        
        @*<div class="row ">
             <div class="col-md-12">
                @Html.Action("FillItemCategoryList")
            </div>
        </div>*@

    </div>
</div>