@model  ArabErp.Domain.WorkDescription
@{
    ViewBag.Title = "CreateWorkDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container ">
    <div class="row">
        <div class="form-head1">
            <h4>Work Description</h4>
        </div>

        <div class="main-part pad1">
@using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "wrk_form" }))
{
            <div class="row">
                <div class="col-md-2">
                </div>


                    <div class="col-md-4">
                        <div class="part">
                            <label for="freezer">Freezer Type</label>

                            @Html.DropDownListFor(m => Model.FreezerUnitId, (SelectList)ViewBag.FreezerUnitlist, "Select FreezerUnit", new { @class = "form_input", autocomplete = "off" })


                            <div class="tick-main">
                                <input type="checkbox" name="">
                                <span class="text">New Installation</span>



                                <input type="checkbox" name="">
                                <span class="text">Repair / Service</span>



                                <input type="checkbox" name="">
                                <span class="text">Sub Assembly</span>
                               
                            </div>
                        </div>



                        </div>
                            <div class="col-md-4">
                                <div class="part">
                                    <label for="name">Name</label>
                                    @Html.TextBoxFor(m => m.WorkDescr, new { @class = "form_input", autocomplete = "off" })
                                 </div>
                                <div class="part">
                                    <label for="box">Box Type</label>
                                    @Html.DropDownListFor(m => Model.BoxId, (SelectList)ViewBag.Boxlist, "Select Box", new { @class = "form_input", autocomplete = "off" })


                                </div>
                                <div class="part">
                                    <label for="VehicleModelId">
                                        Vehicle Model
                                    </label>
                                    @Html.DropDownListFor(m => Model.VehicleModelId, (SelectList)ViewBag.vehiclelist, "Select Vehicle", new { @class = "form_input", autocomplete = "off" })
                                </div>
                                </div>

                    <div class="col-md-2">
                    </div>

</div>

            <div class="row">

                <div class="col-md-2"> 
                </div>
                <div class="col-md-8">
                    <br /><br />
                    <label><b>Work Type</b></label>

                    <div class="table-responsive table2">
                        <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="90%"><h1>Work BreakUp</h1></th>
                                    <th width="10%"><h1>Y/N</h1></th>

                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                <tr class="table-back">
                                    <td>1</td>
                                    <td></td>
                                </tr>
                                <tr class="table-back">
                                    <td>2</td>
                                    <td></td>
                                </tr>
                                <tr class="table-back">
                                    <td>3</td>
                                    <td></td>
                                </tr>
                                <tr class="table-back">
                                    <td>4</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="marg5">
                        <button type="submit" class="form-button top1">Exit</button>


                        <button type="submit" class="form-button">Save</button>
                    </div>



                    </div>
                <div class="col-md-2">


                </div>


            </div>
}
        </div>
                
        </div>

