@using ArabErp.Domain;
@model IList<EmployeeResourceAvailability>

<table class="table table-bordered table-hover">

    <thead>
        <tr class="grid_heading">
            <th><h1>Employee</h1></th>
            @{
                var columns = Model.Select(m => m.TaskDate).Distinct().ToList();
                foreach (var item in columns)
                {
                    if (item.ToString().Contains("01-Jan-0001")) { continue; }
                    <th><h1>@item.ToString("dd/MMMM/yyyy")</h1></th>
                }
            }
        </tr>
    </thead>
    <tbody class="grid_row">
        @{
            var employee = Model.Select(m => m.EmployeeId).ToList().Distinct();
            foreach (var id in employee)
            {
                <tr>
                    <td>
                        @{
                            string name = (from EmployeeResourceAvailability p in Model
                                           where p.EmployeeId == id
                                           select p.EmployeeName).First();
                            @name
                        }
                    </td>
                    @{
                        foreach (var date in columns)
                        {
                            if (date.ToString().Contains("01-Jan-0001")) { continue; }
                            <td>
                                @{
                                    var jobcards = Model.Where(m => m.TaskDate == date && m.EmployeeId == id).Select(m => m);
                                    if (jobcards != null && jobcards.Count() > 0)
                                    {
                                        if (jobcards.Count() == 1)
                                        {
                                            @:@jobcards.ToList()[0].JobCardNo - @jobcards.ToList()[0].JobCardTaskName
                                            if (jobcards.ToList()[0].isProjectBased)
                                            {
                                                <div style="background-color:red;height:5px;width:5px;float:left;margin-top:5px;margin-right:2px"></div>
                                            }
                                            else
                                            {
                                                <div style="background-color:green;height:5px;width:5px;float:left;margin-top:5px;margin-right:2px"></div>
                                            }
                                        }
                                        else
                                        {
                                            <table style="width:100%">
                                                @foreach (var j in jobcards)
                                                {
                                                    <tr>
                                                        <td style="border:none;">
                                                            @*<font color="red">*@
                                                            @j.JobCardNo - @j.JobCardTaskName
                                                            @*</font>*@
                                                            @if (j.isProjectBased)
                                                            {
                                                                <div style="background-color:red;height:5px;width:5px;float:left;margin-top:5px;margin-right:2px"></div>
                                                            }
                                                            else
                                                            {
                                                                <div style="background-color:green;height:5px;width:5px;float:left;margin-top:5px;margin-right:2px"></div>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    }
                                }
                            </td>
                        }
                    }
                </tr>
            }
        }
    </tbody>

</table>
