
@{
    ViewBag.Title = "Employee Availability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function Filter() {
        var month = Number($("#month-filter").val()) + 1;
        var year = Number($("#year-filter").val());
        var url = '@Url.Action("EmployeeGrid")';
        $("#employee-grid").addClass("fade");
        $("#employee-grid").load(url, { month: month, year: year }, function () {
            $("#employee-grid").removeClass("fade");
        });
    }
</script>

<div class="row">
    <div class="form-head1">
        <h4>Employee Availability</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-2">
                <label for="">Month</label>
                @Html.DropDownList("month-filter", new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "January"  },
                       new { value = 1 , text = "February" },
                       new { value = 2 , text = "March"},
                       new { value = 3 , text = "April"},
                       new { value = 4 , text = "May"},
                       new { value = 5 , text = "June"},
                       new { value = 6 , text = "July"},
                       new { value = 7 , text = "August"},
                       new { value = 8 , text = "September"},
                       new { value = 9 , text = "October"},
                       new { value = 10 , text = "November"},
                       new { value = 11 , text = "December"}
                    },
                  "value",
                  "text", DateTime.Today.Month - 1), "Select Month", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label for="">Month</label>
                @Html.DropDownList("year-filter", new SelectList(
                  new List<Object>{
                       new { value = ViewBag.Year, text = ViewBag.Year },
                       new { value = ViewBag.Year + 1, text = ViewBag.Year + 1 }
                    },
                  "value",
                  "text", ViewBag.Year), "Select Year", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-3 col-md-offset-9">
                <div class="col-md-4">
                    <div style="background-color:red;height:7px;width:7px;margin-top:7px;float:left;margin-right:2px" class="right"></div>Project
                </div>
                <div class="col-md-7">
                    <div style="background-color:green;height:7px;width:7px;margin-top:7px;float:left;margin-right:2px"></div>Transportation
                </div>
            </div>
        </div>

        <div class="scroll4" id="employee-grid">            
            @Html.Action("EmployeeGrid")
        </div>

    </div>
</div>

