
@{ViewBag.Title = "Receipt Against Customer List"; Layout = "~/Views/Shared/_Layout.cshtml";}

<script type="text/javascript">

    function openPop() {
        var url = '@Url.Action("CreateRequest")';
        window.location = url;
    }

    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }

</script>


    <div class="row">

        <div class="form-head form-head3">
            <h4>Receipt Against Customer List</h4>
        </div>

        <div class="main-part pad1 white">

            <div class="row">
                @Html.Action("CustomerReceiptList")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart1">
                    <button type="submit" class="form-button" onclick="openPop();">Create</button>
                    <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                </div>
            </div>

        </div>

    </div>



