
@{
    ViewBag.Title = "Create SaleOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(document).ready(function () {
        var i = 1;
        $("#add_row").click(function () {
            $('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name='wrkdesc" + i + "' type='text' placeholder='Work Description' class='form_input input-md'/></td><td><input  name='remarks" + i + "' type='text' placeholder='Remarks'  class='form_input input-md'></td><td><input  name='qty" + i + "' type='text' placeholder='Qty'  class='form_input input-md'></td><td><input  name='unit" + i + "' type='text' placeholder='Unit'  class='form_input input-md'></td><td><input  name='rate" + i + "' type='text' placeholder='Discount'  class='form_input input-md'></td><td><input  name='rate" + i + "' type='text' placeholder='Discount'  class='form_input input-md'></td><td><input  name='amt" + i + "' type='text' placeholder='Amount'  class='form_input input-md'></td>");

            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });
        $("#delete_row").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
        });

    });
</script>
<div class="h4bgcolor">
        <h4>Sale Order</h4>
</div>
<div class="container">
            <div class="row">
        <form role="form">
            <div class="row form-group">
                <div class="col-md-2">
                        <label for="sono">SO.No.</label>
                    <input type="text" id="sono" class="form_input" autocomplete="off" />
                    </div>
                <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                    <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                    </div>
                </div>
            <div class="row form-group">
                <div class="col-md-4">
                        <label for="selectCustomer">Customer</label>
                <select id="selectCustomer" autocomplete="off" class="form_input">
                            <option>Select Customer</option>
                            <option>Cus1</option>
                            <option>Cus2</option>
                            <option>Cus3</option>
                        </select>
                    </div>
                <div class="col-md-4">
                        <label for="cusref">Customer Order Ref.</label>
                    <input type="text" id="cusref" autocomplete="off" class="form_input" />
                    </div>
                <div class="col-md-4">
                        <label for="selectvehicle">
                            Vehicle Model
                        </label>
                    <select id="selectvehicle" autocomplete="off" class="form_input">
                        <option>Select Vehicle</option>
                            <option>Vehicle1</option>
                            <option>Vehicle2</option>
                            <option>Vehicle3</option>
                        </select>
                    </div>
                </div>
            <div class="container">
               
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="5%" class="text-center">Sl.No.</th>
                                    <th width="25%" class="text-center">Work Description</th>
                                    <th width="25%" class="text-center">Remarks</th>
                                    <th width="5%" class="text-right ">Qty</th>
                                    <th width="5%">Unit</th>
                                    <th width="10%" class="text-right ">Rate</th>
                                    <th width="10%" class="text-right ">Discount</th>
                                    <th width="10%" class="text-right ">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id='addr0'>
                                    <td>1</td>
                                    <td><input type="text" name='ipDisp0' placeholder='Work Description' class="form_input"></td>
                                    <td><input type="text" name='ipDisp0' placeholder='Remarks' class="form_input"></td>
                                    <td><input type="text" name='ipDisp0' placeholder='Quantity' class="form_input"></td>
                                    <td>
                                        <select id="SelectUnit" autocomplete="off" class="form_input">
                                            <option>Select Unit</option>
                                            <option>Unit1</option>
                                            <option>Unit2</option>
                                            <option>Unit3</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name='ipDisp0' placeholder='Rate' class="form_input"></td>
                                    <td><input type="text" name='ipDisp0' placeholder='Discount' class="form_input"></td>
                                    <td><input type="text" name='ipDisp0' placeholder='Amount' class="form_input"></td>
                                </tr>
                                <tr id='addr1'></tr>
                            </tbody>
                        </table>
                    </div>
               
                <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
            </div>
                   
                <div class="row form-group">
                <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" style="min-width: 100%"></textarea>
                    </div>
                </div>
            <div class="row form-group">
                <div class="col-md-6">
                        <label for="payterms">Payment Terms</label>
                    <input type="text" id="payterms" autocomplete="off" class="form_input" />
                    </div>
                <div class="col-md-6">
                        <label for="delterms">Delivery Terms</label>
                    <input type="text" id="delterms" class="form_input" />
                    </div>
                </div>
            <div class="row form-group">
                <div class="col-md-3">
                        <label for="cmagent">Commission Agent</label>
                    <input type="text" id="cmagent" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-3">
                        <label for="cmamt">Commission Amount</label>
                    <input type="text" id="cmamt" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-3">
                        <label for="selectorder">Order Taken By</label>
                    <select id="selectorder" autocomplete="off" class="form_input">
                            <option>Select Order Taken By</option>
                            <option>Order1</option>
                            <option>Order2</option>
                            <option>Order3</option>
                        </select>
                    </div>
                </div>
             
                        <div class="col-md-12 col-md-4">
                            <div style="float:left" class="alignCenter">
                                <button type="submit" class="button-style">Exit</button>
                            </div>
                <div class="col-md-offset-11">
                                <button type="submit" class="button-style">Save</button>
                            </div>
                </div>
              </form>
    </div>
</div>





