@model  ArabErp.Domain.SaleOrder
@{ ViewBag.Title = "Create SaleOrder"; Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ string actionName = ViewContext.RouteData.GetRequiredString("action");
   ViewData["action"] = actionName;}
<script>
    $(document).ready(function() {
        $('#saleorder_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            //feedbackIcons: {
            //    valid: 'glyphicon glyphicon-ok',
            //    invalid: 'glyphicon glyphicon-remove',
            //    validating: 'glyphicon glyphicon-refresh'
            //},
            fields: {
                SaleOrderRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter sale order no.'
                        }
                    }
                },
                CustomerId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select customer'
                        }
                    }
                },
                CustomerOrderRef: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter customer order ref.'
                        }
                    }
                },
                VehicleModelId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select vehicle'
                        }
                    }
                },
                CommissionAgentId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select commission agent'
                        }
                    }
                },
                CommisionAmount: {
                    validators: {
                        numeric: {
                            message: 'Please enter a numeric value'
                        }
                    }
                },
                SalesExecutiveId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select Order Taken By'
                        }
                    }
                },


            }
        });
    })
   
    $(function () {
        $("#SaleOrderDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#EDateArrival").datepicker({ dateFormat: "dd/MM/yy" });
        $("#EDateDelivery").datepicker({ dateFormat: "dd/MM/yy" });
    });
    function CustomerChanged(cust)
    {
        var cusId = cust.value;

        $.ajax({
            url: "/SaleOrder/GetCustomerDetailsByKey/",
            data: { cusKey: cusId },
            cache: false,
            type: "GET",
            timeout: 10000,
            dataType: "json",
            success: function (result) {
                if (result.Success) { // this sets the value from the response
                    $('#CurrencyId').val(result.Result);
                    $("#CustomerAddress").val(result.Address);
                } else {
                    $('#SomeOtherHtmlTextBox').val("Failed");
                }
            }
        });
        //$('#CurrencyId').val("2");
    }
    $(document).ready(function () {
        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });
</script>
@Html.HiddenFor(m => m.SaleOrderId)
<div class="container">
        <div class="row">
                <div class="form-head1">
    <h4>Sale Order</h4>
                </div>
              
                <div class="main-part pad1">
                    @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "saleorder_form" }))
        {
                      
@Html.Partial("_SaleOrderHead")
@Html.Partial("_DisplaySOList")
@Html.Partial("_SaleOrderFooter")



                <div class="row">

        <div class="col-md-12 hrpart">
            <button type="button" class="form-button right">Exit</button>
            <button type="submit" class="form-button right">Save</button>
        </div>

    </div>            

        }
    </div>
</div>
    </div>





