
@{
    ViewBag.Title = "Create SaleOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#A9B7C0">
        <h4>Sale Order</h4>
</div>
<div class="container">
    <div class="row">
        <form role="form">
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="sono">SO.No.</label>
                    <input type="text" id="sono" class="form_input" autocomplete="off" />
                </div>
                <div class="col-md-2 col-md-offset-8">
                    <label for="inputDate">Date</label>
                    <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                </div>
                </div>
            <div class="row form-group">
            <div class="col-md-4">
                    <label for="selectCustomer">Customer</label>
                <select id="selectCustomer" autocomplete="off" class="form_input">
                    <option>Select Customer</option>
                    <option>Cus1</option>
                    <option>Cus2</option>
                    <option>Cus3</option>
                </select>
                </div>
                <div class="col-md-4">
                    <label for="cusref">Customer Order Ref.</label>
                    <input type="text" id="cusref" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-4">
                    <label for="selectvehicle">
                        Vehicle Model
                    </label>
                    <select id="selectvehicle" autocomplete="off" class="form_input">
                        <option>Select Vehicle</option>
                        <option>Vehicle1</option>
                        <option>Vehicle2</option>
                        <option>Vehicle3</option>
                    </select>
                </div>
                </div>
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="5%">Sl.No.</th>
                                <th width="25%">Product</th>
                                <th width="25%">Description</th>
                                <th width="5%" class="text-right ">Qty</th>
                                <th width="5%">Unit</th>
                                <th width="10%" class="text-right ">Rate</th>
                                <th width="10%" class="text-right ">Discount</th>
                                <th width="10%" class="text-right ">Amount</th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" style="min-width: 100%"></textarea>
                    </div>
                    </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="payterms">Payment Terms</label>
                    <input type="text" id="payterms" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label for="delterms">Delivery Terms</label>
                    <input type="text" id="delterms" class="form_input" />
                </div>
                </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="cmagent">Commission Agent</label>
                    <input type="text" id="cmagent" autocomplete="off" class="form_input" />
                    </div>
                <div class="col-md-3">
                    <label for="cmamt">Commission Amount</label>
                    <input type="text" id="cmamt" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label for="selectorder">Order Taken By</label>
                    <select id="selectorder" autocomplete="off" class="form_input">
                        <option>Select Order Taken By</option>
                        <option>Order1</option>
                        <option>Order2</option>
                        <option>Order3</option>
                    </select>
                </div>
                </div>
            <div class="row form-group">
                <div class="col-md-1">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div class=" col-md-offset-11">
                    <button type="submit" class="button-style">Save</button>
                </div>
                </div>
      </form>
            </div>
</div>





