@model IEnumerable<ArabErp.Domain.BayStatus>
@{
    ViewBag.Title = "Bay Allocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int totalBays = Model.Count();
    int freeBays = (from a in Model where a.Occupied == "No" select a).Count();
    int occupiedBays = totalBays - freeBays;
}

    <div class="row">
        <div class="form-head1">
            <h4>Bay Status Report</h4>
        </div>
        
        <div class="main-part white pad1">
            <div class="col-md-12">
                <div class="row">
                    <center><h4>Bay Allocation and Status Report on @DateTime.Now.ToString("dd MMM yyyy")</h4></center>
                </div>
                <div class="row">
                    <h5>Total Bays @totalBays, Free Bays @freeBays, Occupied Bays @occupiedBays</h5>
                </div>
            </div> 
                <div class="col-md-12">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            @Html.Partial("_BayPartial", item)
                        }
                    </div>
                </div>
           
        </div>
    </div>

