@model IEnumerable<ArabErp.Domain.BayStatus>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Bay Status Report</h4>
        </div>
        
        <div class="main-part pad1">
            <div class="col-md-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("_BayPartial", item)
                    }
                </div>                
            </div>            
        </div>
    </div>
</div>
