@model IEnumerable<ArabErp.Domain.BayStatus>
@{
    ViewBag.Title = "Bay Allocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Bay Status Report</h4>
        </div>
        
        <div class="main-part white pad1">
            <div class="col-md-12">
                <div class="row">
                    <center><h4>Refrigerated Transport Vehicles Service Bay Allocation and Status Report on @DateTime.Now.ToString("dd MMM yyyy")</h4></center>
                </div>
            </div> 
                <div class="col-md-12">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            @Html.Partial("_BayPartial", item)
                        }
                    </div>
                </div>
           
        </div>
    </div>
</div>
