@model ArabErp.Domain.ServiceRegister
@{
    ViewBag.Title = "Service Register Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function Filter() {
        $("#ServiceRegister").addClass("fade");
        var Customer = $("#filter-Customer").val().trim();
        var url = '@Url.Action("ServiceRegister")';
        url += "?Customer=" + encodeURIComponent(Customer);
        $("#ServiceRegister").load(url, function () {
            $("#ServiceRegister").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
    
</script>
<div class="row">

    <div class="form-head1">
        <h4>Service Due Register</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
           <div class="col-md-2">
                <label for="filter-Customer">Customer</label>
               <input id="filter-Customer" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" onchange="Filter()" />
            </div>
         </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="ServiceRegister">
                    @Html.Action("ServiceRegister")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>


