
@{
    ViewBag.Title = "CreateStockJournel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CreateStockJournel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Stock Journal</h4>
