@model IList<ArabErp.Domain.CommissionAgent>
@using GridMvc.Html

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>

<div class="table-responsive">

    <div class="main-grid">

        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(m => m.CommissionAgentRefNo).Titled("Ref No.").SetWidth(20);
                            columns.Add(m => m.CommissionAgentName).Titled("Name").SetWidth(200);
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Edit", new { Id = o.CommissionAgentId })">Edit</a>);
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Delete", new { Id = o.CommissionAgentId })">Delete</a>);

                            //.Format("<a href="\"DeleteRecord?name={CategoryName}\"">{CategoryName}</a>");

                            //columns.Add(m => m.CurrencyName).Sortable(true);
                        }).WithPaging(10)
</div>


    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>


    </div>


