
@{
    ViewBag.Title = "Create Stores Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Store Issue</h4>
        </div>
        <div class="main-part pad1">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="sino">SI No.</label>
                        <input type="text" id="sino" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="jcno">Job Card No.</label>
                        <input type="text" id="jcno" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2">
                        <label for="jcdate">JC Date</label>
                        <input type="date" id="jcdate" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-4">
                        <label for="wrkdes">Customer</label>
                        <input type="text" id="wrkdes" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2">
                        <label for="vehicle">Vehicle Model</label>
                        <input type="text" id="vehicle" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2">
                        <label for="wrkreqref">WorkShop Request No.</label>
                        <input type="text" id="wrkreqref" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th>Sl.No.</th>
                                <th>Part No.</th>
                                <th>Product</th>
                                <th class="text-right ">Req Qty.</th>
                                <th class="text-right ">Pending Qty.</th>
                                <th class="text-right ">Current Issued Qty</th>
                                <th>Unit</th>
                                <th class="text-right ">Rate</th>
                                <th class="text-right ">Amount</th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" style="min-width: 100%"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="reqdate">Required Date</label>
                        <input type="date" id="reqdate" style="min-width: 100%" class="form_input" />
                    </div>
                    <div class="col-md-2">
                        <label for="emp">Employee/Supervisor</label>
                        <select id="bay" class="form_input" autocomplete="off">
                            <option>Select Employee</option>
                            <option>Employee 1</option>
                            <option>Employee 2</option>
                            <option>Employee 3</option>
                        </select>
                    </div>
                </div>
                <div class="marg1">
                    <button class="form-button">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                    @*@if (TempData["Success"] != null)
            {
             <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }*@
                </div>
            </form>
            </div>
        </div>
</div>

