@model IList<ArabErp.Domain.WorkShopRequest>

@{
    ViewBag.Title = "Pending Workshop Requests for Stores Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function PreviousList() {
        var url = '@Url.Action("PreviousList")';
        window.location = url;
    }

    function Exit()
    {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }


    function Filter() {
        $("#pending_workshop").addClass("fade");
        var url = '@Url.Action("PendingWorkshopRequests")';
        var Request = $("#txtRequest").val().trim();
        var Sale = $("#txtSale").val().trim();
        var Customer = $("#txtCustomer").val().trim();
        var JcNo = $("#txtJcNo").val().trim();
        var RegNo = $("#txtRegNo").val().trim();
        var Type = $("#cboType").val().trim();
        url += "?Request=" + encodeURIComponent(Request) + "&Sale=" + encodeURIComponent(Sale) + "&Customer=" + encodeURIComponent(Customer) + "&jcno=" + encodeURIComponent(JcNo) + "&RegNo=" + encodeURIComponent(RegNo)+"&Type="+encodeURIComponent(Type);
        $("#pending_workshop").load(url, function () {
            $("#pending_workshop").removeClass("fade");
        });
    }
</script>



    <div class="row">

        <div class="form-head1">
            <h4>Pending Workshop Requests for Stores Issue</h4>
        </div>

        <div class="main-part pad1">

            <div class="row">
                <div class="part">
                    <div class="col-md-2">
                        <label for="txtCustomer">Customer</label>
                        <input type="text" class="form_input" id="txtCustomer" onkeyup="Filter()" @*onchange="Filter()"*@ placeholder="Search for Customer" />
                    </div>
                    <div class="col-md-2">
                        <label for="txtRequest">Workshop Request No.</label>
                        <input type="text" class="form_input" id="txtRequest" onkeyup="Filter()" @*onchange="Filter()"*@ placeholder="Search for Workshop Request" />
                    </div>
                    <div class="col-md-2">
                        <label for="txtSale">Sale Order No.</label>
                        <input type="text" class="form_input" id="txtSale" onkeyup="Filter()" @*onchange="Filter()"*@ placeholder="Search for Sale Order" />
                    </div>
                    <div class="col-md-2">
                        <label for="txtJcNo">Job Card No.</label>
                        <input type="text" class="form_input" id="txtJcNo" onkeyup="Filter()" @*onchange="Filter()"*@ placeholder="Search for Job Card" />
                    </div>
                  
                    <div class="col-md-2">
                        <label for="txtRegNo">Reg. No./Chassis No.</label>
                        <input type="text" class="form_input" id="txtRegNo" onkeyup="Filter()" @*onchange="Filter()"*@ placeholder="Search for Reg. No./Chassis No." />
                    </div>
                    <div class="col-md-2">
                        <label for="txtType">Project/Transport</label>
                        <select id="cboType" class="form_input" onchange="Filter()">
                            <option value="all" selected>All</option>
                            <option value="project">Project</option>
                            <option value="transport">Transport</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
 
            <div id="pending_workshop">
                @Html.Action("PendingWorkshopRequests")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <button class="form-button left" onclick="PreviousList()">Previous</button>
                    <button class="form-button right" onclick="Exit()">Exit</button>
                </div>
            </div>

        </div>
    </div>


