@model IList<ArabErp.Domain.StoresIssuePreviousList>

@{
    ViewBag.Title = "Previous Stores Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Exit() {
        var url = '@Url.Action("Pending")';
        window.location = url;
    }

    function Filter() {
        $("#previous_workshop").addClass("fade");
        var StoreIssue = $("#txtStoreIssue").val().trim();
        var Jobcard = $("#txtJcNo").val().trim();
        var Customer = $("#txtCustomer").val().trim();
        var RegNo = $("#txtRegNo").val().trim();
        var Request = $("#txtRequest").val().trim();
        var url = '@Url.Action("PreviousListGrid")';
        url += "?StoreIssue=" + encodeURIComponent(StoreIssue) + "&Jobcard=" + encodeURIComponent(Jobcard) + "&Customer=" + encodeURIComponent(Customer) + "&RegNo=" + encodeURIComponent(RegNo) + "&Request=" + encodeURIComponent(Request);
        $("#previous_workshop").load(url, function () {
            $("#previous_workshop").removeClass("fade");
        });
    }
</script>



<div class="row">
    <div class="form-head1">
        <h4>Stores Issue List</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="part">
                <div class="col-md-2">
                    <label for="txtJobcard">Store Issue.</label>
                    <input type="text" class="form_input" id="txtStoreIssue" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Store Issue" />
                </div>
                <div class="col-md-2">
                    <label for="txtRequest">Workshop Request No.</label>
                    <input type="text" class="form_input" id="txtRequest" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Workshop Request" />
                </div>
                <div class="col-md-2">
                    <label for="txtJcNo">Job Card No.</label>
                    <input type="text" class="form_input" id="txtJcNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Job Card" />
                </div>
                
                <div class="col-md-2">
                    <label for="txtRegNo">Reg. No./Chassis No.</label>
                    <input type="text" class="form_input" id="txtRegNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Reg. No./Chassis No." />
                </div>
                <div class="col-md-2">
                    <label for="txtCustomer">Customer</label>
                    <input type="text" class="form_input" id="txtCustomer" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Customer" />
                </div>
            </div>
        </div>
        <br />
        <div id="previous_workshop">
            @Html.Action("PreviousListGrid")
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 hrpart">
                <button class="form-button right" onclick="Exit()">Exit</button>
            </div>
        </div>

    </div>
</div>