
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="form-head1">
        <h4>Warranty Extension Register</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
          
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="VehicleInpass_Reg">
                    @Html.Action("WarrantyExtensionRegister")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                @*<input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />*@
            </div>
        </div>
    </div>
</div>

