@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function OnQSNoChanged(sender) {
        var id = $("#cboQSNo").val();
        var url = '@Url.Action("QuerySheetList")';
        $("#querysheetlist").load(url, { id: id });
    }

</script>

<div class="row">

    <div class="form-head1">
        <h4>Query Sheet List</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-3">
                <label for="cboQSNo">Query Sheet Ref No.</label>
                @Html.DropDownList("cboQSNo", (SelectList)ViewBag.QSnoList, "Any", new { @class = "form_input", @onchange = "OnQSNoChanged(this)" })
            </div>
        </div>

        <div id="querysheetlist">
            @Html.Action("QuerySheetList")
        </div>
    </div>
</div>

