
@{
    ViewBag.Title = "Standard Rate Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-head1">
        <h4>Standard Rate Settings</h4>
    </div>

    <div class="main-part pad1">
        @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "openingstock_form" }))
        {
            <div class="row">

            </div>
        }
    </div>
</div>

