
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h4bgcolor">
    <h4>Supplier Category</h4>
</div>

<div class="container ">
    <div class="row ">

        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form role="form" >
                <div class="row form-group ">

                    <div class="col-md-6">
                        <label for="SupCategoryRefNo">Code</label>
                        <input type="text" id="SupCategoryRefNo" autocomplete="off" class="form_input " />
                    </div>

                    <div class="col-md-6">
                        <label for="SupCategoryName">Category</label>
                        <input type="text" id="SupCategoryName" autocomplete="off" class=" form_input " />
                    </div>
               </div>


                <div class=" row form-group ">
                    <div class="col-md-6 ">
                        <label for="SupCategoryShortName">Short Name</label>
                        <input type="text" id="SupCategoryShortName" autocomplete="off" class=" form_input " />
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-12">
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Exit</button>
                        </div>
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>

        <div class="col-md-3">

        </div>

    </div>
</div>


