
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>StockPoint</h4>
 </div>

<div class="container ">
    <div class="row ">

        <div class=" col-md-3">

        </div>
        <div class="col-md-6 >
            <form role="form">

                <div class="row form-group ">
                    <div class=" col-md-6 ">
                        <label for="StockPointRefNo">Code</label>
                        <input type="text" id="StockPointRefNo" autocomplete="off" class=" form_input" />
                    </div>

                    <div class=" col-md-6 ">
                        <label for="StockPointName">Name</label>
                        <input type="text" id="StockPointName" autocomplete="off" class=" form_input" />
                    </div>

                </div>

                <div class=" row form-group ">
                    <div class=" col-md-6 ">
                        <label for="StockPointShrtName">Short Name</label>
                        <input type="text" id="StockPointShrtName" autocomplete="off" class="form_input " />
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6 ">
                        <label for="StockPointDoorNo">Door No & Building</label>
                        <input type="text" id="StockPointDoorNo" autocomplete="off" class="form_input" />
                    </div>

                    <div class="col-md-6 ">
                        <label for="StockPointZip">Zip</label>
                        <input type="text" id="StockPointZip" autocomplete="off" class="form_input" />
                    </div>
                </div>
  
                <div class="row form-group ">
                    <div class="col-md-6 ">
                        <label for="StockPointArea">Street & Area</label>
                        <input type="text" id="StockPointArea" autocomplete="off" class="form_input" />
                    </div>

                    <div class="col-md-6 ">
                        <label for="StockPointPhone">Phone No</label>
                        <input type="text" id="StockPointPhone" autocomplete="off" class="form_input" />
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6 ">
                        <label for="StockPointCity">City & State</label>
                        <input type="text" id="StockPointCity" autocomplete="off" class="form_input" />
                    </div>

                    <div class="col-md-6 ">
                        <label for="StockPointFax">Fax</label>
                        <input type="text" id="StockPointFax" autocomplete="off" class="form_input" />
                    </div>
                </div>

            <div class=" row form-group ">
                <div class="col-md-12">
                    <div style="float:right" class="alignCenter">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div style="float:right" class="alignCenter">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

        <div class=" col-md-3">

        </div>

    </div>
</div>
