@model ArabErp.Domain.ItemSubGroup
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Item SubGroup</h4>
</div>

<div class="container ">
    <div class="row">

        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form role="form" action="@Url.Action("Save")" method="post">
                <div class="row form-group">

                    <div class="col-md-6">
                        <label for="ItemSubGroupRefNo">Code</label>
                         @Html.TextBoxFor(m => m.ItemSubGroupRefNo, new { @class = "form_input", autocomplete = "off" })
                    </div>

                    <div class="col-md-6 ">
                        <label for="ItemSubGroupName">Item SubGroup</label>
                        @Html.TextBoxFor(m => m.ItemSubGroupName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6 ">
                        <label for="ItemGroupId">Group</label>
                        @Html.DropDownListFor(m => Model.ItemGroupId, (SelectList)ViewBag.ItemGroup, "Select Item Group", new { @class = "form_input" })
                        @*<select id="ItemGroupId" class="form_input" autocomplete="off">
                            <option>Select Group</option>
                            <option>Group 1</option>
                            <option>Group 2</option>
                            <option>Group 3</option>
                        </select>*@
                    </div>
                </div>


                <div class="row form-group ">
                    <div class="col-md-12 ">
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Exit</button>
                        </div>
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-3">

        </div>
    </div>
</div>


