
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Item SubGroup</h4>
</div>

<div class="container ">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <form role="form" >
                <div class="row form-group">

                    <div class="col-md-6">
                        <label for="ItemSubGroupRefNo">Code</label>
                        <input type=" text" id="ItemSubGroupRefNo" autocomplete="off" class="form_input" />
                    </div>

                    <div class="col-md-6 ">
                        <label for="ItemSubGroupName">Item SubGroup</label>
                        <input type="text" id="ItemSubGroupName" autocomplete="off" class="form_input " />
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6 ">
                        <label for="ItemGroupId">Group</label>
                        <select id="ItemGroupId" class="form_input" autocomplete="off">
                            <option>Select Group</option>
                            <option>Group 1</option>
                            <option>Group 2</option>
                            <option>Group 3</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 ">
                    <div style="float:right" class="alignCenter">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div style="float:right" class="alignCenter">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


