
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>GRN-WareHouse</h4>
        </div>
        <div class="main-part pad1">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for=" grnno">GRN No. </label>
                        <input type="text" id="grnno" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="selectCustomer">Supplier</label>
                        <input type="text" id="supplier" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th>Sl.No.</th>
                                <th>SO No & Date</th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Part No</th>
                                <th class="text-right ">Qty</th>
                                <th class="text-right ">Rate</th>
                                <th class="text-right ">Discount</th>
                                <th class="text-right ">Amount</th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" style="min-width: 100%"></textarea>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="warehouse">WareHouse/Location</label>
                        <select id="warehouse" class="form_input" autocomplete="off">
                            <option>Select WareHouse</option>
                            <option>WareHouse1</option>
                            <option>WareHouse2</option>
                            <option>WareHouse3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="sdcno">Supplier DC No. & Date</label>
                        <input type="text" id="sdcno" class="form_input" autocomplete="off" />
                    </div>
                </div>

                <div class="marg">
                    <button class="form-button">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                  
                </div>
            </form>
            </div>
        </div>
</div>








