
@{
    ViewBag.Title = "CreateGrnWareHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#BCBABE">
    <h4>GRN-WareHouse</h4>
</div>
<form >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" col-md-7 form-group ">
                    <label for=" grnno">
                        GRN No.
                    </label>
                    <input type="text" id="grnno" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4  form-group">
                <div class="col-md-7 col-md-offset-5 form-group">
                    <label for="inputDate">Date</label>
                    <input type="date" id="inputDate" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="supplier">Supplier</label>
                    <input type="text" id="supplier" class="form_input" />
                </div>
            </div>
        </div>
        @*<div class="container">
            <div id="header" class="row borders">
                <div class="col-md-1">Sl.No.</div>
                <div class="col-md-2">SO No & Date</div>
                <div class="col-md-2">Product</div>
                <div class="col-md-2">Description</div>
                <div class="col-md-1">Part No</div>
                <div class="col-md-1">Qty</div>
                <div class="col-md-1">Rate</div>
                <div class="col-md-1">Discount</div>
                <div class="col-md-1">Amount</div>
            </div>
            <div id="main" class="row borders">
                <div class="col-md-1">1</div>
                <div class="col-md-2">gdf</div>
                <div class="col-md-2">cdf</div>
                <div class="col-md-2">hhhg</div>
                <div class="col-md-1">hjguy</div>
                <div class="col-md-1">iyuy</div>
                <div class="col-md-1">rtdd</div>
                <div class="col-md-1">eae</div>
                <div class="col-md-1">lkju</div>
            </div>
            <div id="main" class="row borders">
                <div class="col-md-1">1</div>
                <div class="col-md-2">gdf</div>
                <div class="col-md-2">cdf</div>
                <div class="col-md-2">hhhg</div>
                <div class="col-md-1">hjguy</div>
                <div class="col-md-1">iyuy</div>
                <div class="col-md-1">rtdd</div>
                <div class="col-md-1">eae</div>
                <div class="col-md-1">lkju</div>
            </div>
        </div>*@
        <div class="container">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th>Sl.No.</th>
                            <th>SO No & Date</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Part No</th>
                            <th class="text-right ">Qty</th>
                            <th class="text-right ">Rate</th>
                            <th class="text-right ">Discount</th>
                            <th class="text-right ">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="row">
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="warehouse">WareHouse/Location</label>
                    <select id="warehouse" class="form_input">
                        <option>Select WareHouse</option>
                        <option>WareHouse1</option>
                        <option>WareHouse2</option>
                        <option>WareHouse3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="sdcno">Supplier DC No. & Date</label>
                    <input type="text" id="sdcno" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 col-md-offset-7 form-group">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class=" col-md-12 form-group">
                    <label for="SplRemarks1">Spl.Remarks</label>
                    <textarea id="SplRemarks1" style="min-width: 100%"></textarea>
                </div>
            </div>
            <div class="col-md-12 col-md-4">
                <div style="float:left" class="alignCenter">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div style="float:right" class="alignCenter">
                    <button type="submit" class="button-style">Save</button>
                </div>
        </div>
        </div>
    </div>
</form>








