@model IList<ArabErp.Domain.PendingForGRN>

@{
    ViewBag.Title = "Pending Direct Purchase Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function PreviousList() {
        window.location = '@Url.Action("PreviousList", "GrnWareHouse")';
    }

    function formValidation() {
        var flag = false;
        $("input[type='checkbox']").each(function (i, obj) {
            if ($(obj).is(':checked'))
                flag = true;
        });
        if (!flag) {
            toastr.info("You have to select atleast one purchase request to continue.");
        }
        return flag;
    }
</script>


    <div class="row">
        <div class="form-head1">
            <h4>Pending Direct Purchase Requests</h4>
        </div>
        <div class="main-part pad1">
            <form role="form" method="post" action="Create" onsubmit="return formValidation()">

                

                    @Html.Action("PendingDirectPurchaseGrid")

               

                <em>P.S.: Only approved requests will show up here</em>
                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button" onclick="PreviousList()" value="Previous" title="Previously accepted GRNs">

                        <input type="submit" class="form-button right" value="Proceed" id="btnProceed" title="Proceed" />
                    </div>
                </div>

            </form>
        </div>
    </div>
