
@using ArabErp.Domain
@model IList<GRN>

@{
    ViewBag.Title = "GRN List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function Edit(id) {
        var url = '@Url.Action("Edit")';
        url += "/" + id;
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("PendingGrnWareHouse")';
        location.href = url;
    }


    function Filter() {
        $("#previous_GRN").addClass("fade");
        var Grn = $("#txtGrn").val().trim();
       // var Lpo = $("#txtLpo").val().trim();
        var Supplier = $("#txtSupplier").val().trim();
        var url = '@Url.Action("PreviousListGRN")';
        url += "?Grn=" + encodeURIComponent(Grn) + "&Supplier=" + encodeURIComponent(Supplier);
        $("#previous_GRN").load(url, function () {
            $("#previous_GRN").removeClass("fade");
        });
    }
</script>



<div class="row">
    <div class="form-head1">
        <h4>GRN List</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="part">
                <div class="col-md-2">
                    <label for="txtGrn">GRN NO.</label>
                    <input type="text" class="form_input" id="txtGrn" onkeyup="Filter()" onchange="Filter()" placeholder="Search for GRN No." />
                </div>
                @*<div class="col-md-2">
                    <label for="txtLpo">LPO No.</label>
                    <input type="text" class="form_input" id="txtLpo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for LPO No." />
                </div>*@
                <div class="col-md-2">
                    <label for="txtSupplier">Supplier</label>
                    <input type="text" class="form_input" id="txtSupplier" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Supplier" />
                </div>
            </div>
        </div>
        <br />
        <div id="previous_GRN">
            @Html.Action("PreviousListGRN")
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 hrpart">
                <button class="form-button right" onclick="Exit()">Exit</button>
            </div>
        </div>

    </div>
</div>