
@{
    ViewBag.Title = "CreateJobCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#BCBABE">
    <h4>Job Card</h4>
</div>
<div class="container " style="background-color:#BCBABE">
    <form action="@Url.Action("Save")">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="jcno">Job Card No.</label>
                    <input type="text" name="JobCardNo" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="jcdate">Date</label>
                    <input type="date" id="jcdate" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="cus">Customer</label>
                    <input type="text" id="cus" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="cusref">Customer Order Ref.</label>
                    <input type="text" id="cusref" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="vechmodel">Vehicle Model</label>
                    <input type="text" id="vechmodel" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="chasisno">Chasis No/Reg No.</label>
                    <input type="text" id="chasisno" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group ">
                    <label for="wrkdes">Work Description</label>
                    <input type="text" id="wrkdes" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="wrkreqref">WorkShop Request Ref.</label>
                    <input type="text" id="wrkreqref" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="goodsland">Goods Landed</label>
                    <input type="text" id="goodsland" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group ">
                    <label for="freezer">Freezer Unit</label>
                    <input type="text" id="freezer" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="box">Box</label>
                    <input type="text" id="box" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 col-md-offset-5 form-group align_left ">
                    <label for="bay">Bay</label>
                    <select id="bay" class="form_input">
                        <option>Select Bay</option>
                        <option>Bay 1</option>
                        <option>Bay 2</option>
                        <option>Bay 3</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="container">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th>Task</th>
                            <th>Employee</th>
                            <th>Date</th>
                            <th>Hrs.</th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        <tr>
                            <td>+Task1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>+Task2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>+Task3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>+Task4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class=" col-md-12 form-group">
                    <label for="SplRemarks1">Spl.Remarks</label>
                    <textarea id="SplRemarks1" style="min-width: 100%"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="reqdate">Required Date</label>
                    <input type="date" id="reqdate" style="min-width: 100%" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="emp">Employee/Supervisor</label>
                    <select id="bay" class="form_input">
                        <option>Select Employee</option>
                        <option>Employee 1</option>
                        <option>Employee 2</option>
                        <option>Employee 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-md-4">
                <div style="float:left" class="alignCenter">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div style="float:right" class="alignCenter">
                    <button type="submit" class="button-style">Save</button>
                </div>
            </div>


        </div>
    </form>
</div>
