@model ArabErp.Domain.Task

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor ">
    <h4>Task</h4>
 </div>

<div class=" container ">
    <div class="row ">

        <div class="col-md-4 ">

        </div>

        <div class=" col-md-4">
            <form role="form" action="@Url.Action("Save")">

                <div class="row form-group ">
                    <div class="col-md-12">
                        <label for="TaskRefNo">Code</label>
                        @Html.TextBoxFor(m => m.TaskRefNo, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class=" col-md-12">
                        <label for="TaskName">Name</label>
                        @Html.TextBoxFor(m => m.TaskName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class=" col-md-12">
                        <div style=" float :right" class="alignCenter">
                            <button type="submit" class="button-style">Exit</button>
                        </div>

                        <div style=" float :right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                </div>

            </form>

        </div>
    </div>
</div>