
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
  
    function Filter() {
      
        $("#gin_reg").addClass("fade");
        
        var itmid = $("#cboItem").val();
        var url = '@Url.Action("GINRegisterReport")';
        url += "?itmid=" + itmid;
            $("#gin_reg").load(url, function () {
            $("#gin_reg").removeClass("fade");
        });
     
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">
    <div class="form-head1">
        <h4>GIN Register</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
        <div class="col-md-3">
                <label for="cboItem">Material/Spares</label>
                @Html.DropDownList("cboItem", (SelectList)ViewBag.ItmList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="gin_reg">
                    @Html.Action("GINRegisterReport")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>


