
@{
    ViewBag.Title = "ConfirmProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#from").val("20-09-2016")
        $("#to").val("23-09-2016")
        $("#from").datepicker({ dateFormat: "dd-MM-yy" });
        $("#to").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>

<div class="row">
    <div class="form-head1">
        <h4>Daily Production Report</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-4">
                <label>Plant</label>
                <select class="form_input">
                    <option value="">Plant 1</option>
                    <option value="">Plant 2</option>
                </select>
            </div>

        </div>



        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>Prd Code</h1></th>
                        <th width="10%"><h1>Customer</h1></th>
                        <th width="13%"><h1>Product</h1></th>
                        <th width="20%"><h1>Product Description</h1></th>
                        <th width="5%"><h1>Start</h1></th>
                        <th width="5%"><h1>Stop</h1></th>
                        <th width="5%"><h1>Hours</h1></th>
                        <th width="7%" class="text-right"><h1>Order Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%" class="text-right"><h1>Charged Weight</h1></th>
                        <th width="7%" class="text-right"><h1>Product Weight</h1></th>
                        <th width="7%" class="text-right"><h1>Scrap Loss</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10002</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>

                    <tr>

                        <td>10003</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10004</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10005</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10006</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10007</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10008</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>
                    <tr>

                        <td>10009</td>
                        <td>Aasirvad</td>
                        <td>Orginal Potato Chips</td>
                        <td>description</td>
                        <td>9:am</td>
                        <td>6:am</td>
                        <td>9 Hours</td>
                        <td class="text-right">15500</td>
                        <td>Kg</td>
                        <td class="text-right">1365.8</td>
                        <td class="text-right">1327.4</td>
                        <td class="text-right">38.4</td>


                    </tr>







                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="row form-group">
            <div class="col-md-1">
                <b>Delays - </b>
         </div>
                <div class="col-md-1">
                    <label>From</label>
                    <input type="text" id="from" class="form_input" />
                </div>
                <div class="col-md-1">
                    <label>To</label>
                    <input type="text" id="to" class="form_input" />
                </div>

                <div class="col-md-9">
                    <label>Explanation</label>
                    <input type="text" class="form_input" />
                </div>

            </div>

        <div class="row form-group">

            <div class="col-md-2">
                <label>Prepared by</label>
                <select class="form_input">
                    <option value="">Prepared by</option>
                    <option value="">Prepared by</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Approved by</label>
                <select class="form_input">
                    <option value="">Approved by</option>
                    <option value="">Approved by</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>
    </div>

</div>

<script>
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>