
@{
    ViewBag.Title = "CreateProductLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="form-head1">
        <h4>Product Line</h4>
    </div>

    <div class="main-part pad1">


        <div class="row form-group">
            <div class="col-md-4">
                <label>Short Name</label>
                <input type="text" class="form_input" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label>Description</label>
                <input type="text" class="form_input form_input-h1" />
            </div>
        </div>



        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right">Exit</button>
            </div>

        </div>


    </div>

</div>
<div class="row">
    <div class="col-md-4">

        <label class="whitec">Name</label>
        <input type="text" class="form_input bluebox" />
        <br />
    </div>
</div>

<div class="row">
    <div class="table-responsive">

        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="5%"><h1>Ref No</h1></th>
                    <th width="70%"><h1>Name</h1></th>
                    <th width="10%"><center><h1>Edit</h1></center></th>
                    <th width="10%"><center><h1>Delete</h1></center></th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>

                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>

                <tr>
                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>

                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>
                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>

                    <td>P.O50</td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>






            </tbody>
            <tfoot>
                <tr class="grid_heading">

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>






                </tr>
            </tfoot>
        </table>


    </div>
</div>