
@{
    ViewBag.Title = "DeliveryChallan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#date").val("20-September-2016")
        $("#date").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>


<div class="row">
    <div class="form-head1">
        <h4>Delivery Challan</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Delivery Challan Ref. No.</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Challan Date</label>
                <input type="text" id="date" class="form_input" />
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Customer</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Customer Order No. & Date</label>
                <input type="text" class="form_input" />
            </div>
        </div>


        <div class="row form-group">

            <div class="col-md-2">
                <label>Prepared by</label>
                <select class="form_input">
                    <option value="">Prepared 1</option>
                    <option value="">Prepared 2</option>
                </select>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>D C Ref. No</h1></th>
                        <th width="20%"><h1>Item Name</h1></th>
                        <th width="38%"><h1>Item Description</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%" class="text-right"><h1>Rate</h1></th>
                        <th width="7%" class="text-right"><h1>Discount</h1></th>
                        <th width="7%" class="text-right"><h1>Amount</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td>Description</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1000</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td>Description</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1000</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td>Description</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1000</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td>Description</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1000</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td>Description</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1000</td>

                    </tr>
                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td>Description</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1000</td>

                    </tr>





                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label>Special Remarks</label>
                <input type="text" class="form_input form_input-h" />
            </div>
        </div>






        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>

    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>

