
@{
    ViewBag.Title = "FinancialYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Financial Year</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Code</label>
                <input type="text" class="form_input" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Name</label>
                <input type="text" class="form_input" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <label>start</label>
                        <input type="text" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label>End</label>
                        <input type="text" class="form_input" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right">Exit</button>
            </div>

        </div>


    </div>

</div>