
@{
    ViewBag.Title = "GoodsIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Goods Issue to Production order</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>PRD No.</label>
                <input type="text" class="form_input" />
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Stock Point</label>
                <select class="form_input">
                    <option value="volvo">Stock Point 1</option>
                    <option value="saab">Stock Point 2</option>
                </select>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>PRD Code</h1></th>
                        <th width="72%"><h1>Item</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%"><h1>Batch</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>





                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>





        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right">Exit</button>
            </div>

        </div>


    </div>

</div>