
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Production Plan", "CreateProductionPlan")<br />
@Html.ActionLink("ProductLIne", "CreateProductLIne")


<h4>Admin</h4>

@Html.ActionLink("Month", "Month")<br />
@Html.ActionLink("Financial Year", "FinancialYear")<br />