
@{
    ViewBag.Title = "MaterialPlanningReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#date").val("20-September-2016")
        $("#date").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>

<div class="row">
    <div class="form-head1">
        <h4>Material Planning Report</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-2">
                <label>Material No.</label>
                <input type="text" class="form_input" />
            </div>


                <div class="col-md-2">
                    <label>Date</label>
                    <input type="text" id="date" class="form_input" />
                </div>




            </div>

            <div class="row form-group">

                <div class="col-md-4">
                    <label>Material</label>
                    <select class="form_input">
                        <option value="">Material 1</option>
                        <option value="">Material 2</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Batch</label>
                    <select class="form_input">
                        <option value="">Any</option>
                        <option value="">Batch</option>
                        <option value="">Non Batch</option>
                    </select>
                </div>



            </div>



            <div class="table-responsive">
                <table class="table table-bordered" id="tab_logic">
                    <thead>
                        <tr class="grid_heading">
                            <th width="44%"><h1>Material</h1></th>
                            <th width="7%"><h1>Part No.</h1></th>
                            <th width="7%"><h1>Min.Stock</h1></th>
                            <th width="7%" class="text-right"><h1>Tot.Req.Qty.</h1></th>
                            <th width="7%" class="text-right"><h1>Curr.Stock</h1></th>
                            <th width="7%" class="text-right"><h1>InTransit.Qty.</h1></th>
                            <th width="7%" class="text-right"><h1>Pnd.PR.Qty.</h1></th>
                            <th width="7%" class="text-right"><h1>Short/Excess</h1></th>
                            <th width="7%" class="text-right"><h1>Unit</h1></th>

                        </tr>
                    </thead>
                    <tbody>





                        <tr>

                            <td>Potato Chips</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>




                        </tr>


                        <tr>

                            <td>Sweet Mesquite Barbiquie</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Mesquite Barbiquie</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Cracked Pepper</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Spicy Jelpeno</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Sweet & Spicy</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Orginal Potato Chips</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Crapped Pepper</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Sweet Mesquito Barbiquie</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Sweet & Spicy</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Sweet Mesquite Barbiquie</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>
                        <tr>

                            <td>Sweet & Spicy</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>




                    </tbody>
                    <tfoot>
                        <tr class="grid_heading">

                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>






                        </tr>
                    </tfoot>
                </table>
            </div>











            <div class="row">
                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right">Save</button>
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                </div>

            </div>


        </div>

</div>

<script>

    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }


</script>


