
@{
    ViewBag.Title = "PendingProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-head1">
        <h4>Pending Production</h4>
    </div>

    <div class="main-part pad1">

        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>PRD No</h1></th>
                        <th width="7%"><h1>PRD Date</h1></th>
                        <th width="65%"><h1>Product</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%"><center><h1>Select</h1></center></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>PI50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>


                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>






                    </tr>
                </tfoot>
            </table>
        </div>




        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="Create()">Create</button>
                <button type="button" class="form-button right">Exit</button>
            </div>

        </div>


    </div>

</div>
<script>
    function Create() {
        var url = '@Url.Action("ProductionOrder")'
        window.location = url;
    }

</script>

