
@{
    ViewBag.Title = "PendingPurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-head1">
        <h4>Pending Purchase Order</h4>
    </div>

    <div class="main-part pad1">


        <div class="row form-group">

            <div class="col-md-4">
                <label>Supplier</label>
                <select class="form_input">
                    <option value="">Supplier1</option>
                    <option value="">Supplier2</option>
                </select>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>P.O. No</h1></th>
                        <th width="7%"><h1>P.O. Date</h1></th>
                        <th width="25%"><h1>Supplier</h1></th>
                        <th width="7%"><h1>Item Code</h1></th>
                        <th width="24%"><h1>Item Name</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%" class="text-right"><h1>Rate</h1></th>
                        <th width="7%" class="text-right"><h1>Amount</h1></th>
                        <th width="7%"><h1>Select</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>10-08-2016</td>
                        <td>Supplier 1</td>
                        <td>55501</td>
                        <td>Orginal Potato Chips</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td class="text-right">10</td>
                        <td class="text-right">1000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10002</td>
                        <td>10-08-2016</td>
                        <td>Supplier 2</td>
                        <td>55502</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">100</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">5000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>10003</td>
                        <td>11-08-2016</td>
                        <td>Supplier 3</td>
                        <td>55503</td>
                        <td>Sweet &Aacute; Spicy Jalpano</td>
                        <td class="text-right">200</td>
                        <td>Kg</td>
                        <td class="text-right">100</td>
                        <td class="text-right">10000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10004</td>
                        <td>12-08-2016</td>
                        <td>Supplier 4</td>
                        <td>55504</td>
                        <td>Sweet Mwsquite Barbeque</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">5000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10005</td>
                        <td>13-08-2016</td>
                        <td>Supplier 5</td>
                        <td>55505</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">200</td>
                        <td>Kg</td>
                        <td class="text-right">150</td>
                        <td class="text-right">10000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>10006</td>
                        <td>13-08-2016</td>
                        <td>Supplier 6</td>
                        <td>55506</td>
                        <td>Orginal Potato Chips</td>
                        <td class="text-right">100</td>
                        <td>Kg</td>
                        <td class="text-right">200</td>
                        <td class="text-right">20000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>10007</td>
                        <td>14-08-2016</td>
                        <td>Supplier 7</td>
                        <td>55507</td>
                        <td>Sweet &Aacute; Spicy Jalpano</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td class="text-right">10</td>
                        <td class="text-right">10000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>10008</td>
                        <td>15-08-2016</td>
                        <td>Supplier 8</td>
                        <td>55508</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">75</td>
                        <td>Kg</td>
                        <td class="text-right">200</td>
                        <td class="text-right">20000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>10009</td>
                        <td>15-08-2016</td>
                        <td>Supplier 9</td>
                        <td>55509</td>
                        <td>Sweet Mwsquite Barbeque</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td class="text-right">50</td>
                        <td class="text-right">50000</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>100010</td>
                        <td>16-08-2016</td>
                        <td>Supplier 10</td>
                        <td>555010</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">500</td>
                        <td>Kg</td>
                        <td class="text-right">30</td>
                        <td class="text-right">225550</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>100011</td>
                        <td>16-08-2016</td>
                        <td>Supplier 11</td>
                        <td>555011</td>
                        <td>Orginal Potato Chips</td>
                        <td class="text-right">100</td>
                        <td>Kg</td>
                        <td class="text-right">25</td>
                        <td class="text-right">2500</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>100012</td>
                        <td>17-08-2016</td>
                        <td>Supplier 12</td>
                        <td>555012</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">500</td>
                        <td>Kg</td>
                        <td class="text-right">80</td>
                        <td class="text-right">1500</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>



                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>






        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="Proceed()">Proceed</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>
    function Proceed() {
        var url = '@Url.Action("GRN", "ProductionPlan")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }

</script>