
@{
    ViewBag.Title = "PlanedOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#date").val("20-september-2016")
        $("#finishdate").val("23-september-2016")
        $("#date").datepicker({ dateFormat: "dd-MM-yy" });
        $("#finishdate").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>



<div class="row">
    <div class="form-head1">
        <h4>Stock Order</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Stock Order No.</label>
                <input type="text" class="form_input" />
            </div>

            <div class="col-md-2">
                <label>Date</label>
                <input type="text" id="date" class="form_input" />
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Product</label>
                <select class="form_input">
                    <option value="">Product 1</option>
                    <option value="">Product 2</option>
                    <option value="">Product 3</option>
                    <option value="">Product 4</option>
                </select>
            </div>

            <div class="col-md-4">
                <label>Plant</label>
                <select class="form_input">
                    <option value="">Plant 1</option>
                    <option value="">Plant 2</option>

                </select>
            </div>

            <div class="col-md-2">
                <label>Stock Point</label>
                <select class="form_input">
                    <option value="">Stock Point 1</option>
                    <option value="">Stock Point 2</option>

                </select>
            </div>
            <div class="col-md-2">
                <label>Order Finish Date</label>
                <input type="text" id="finishdate" class="form_input" />
            </div>

        </div>

        <h5>Bill of Materials</h5>
        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>Item Code</h1></th>
                        <th width="79%"><h1>Raw Material</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>Potato</td>
                        <td class="text-right">500</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>10002</td>
                        <td>Extra Virgin Olive Oil</td>
                        <td class="text-right">100</td>
                        <td>Ltr</td>



                    </tr>
                    <tr>

                        <td>10003</td>
                        <td>Salt</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>



                    </tr>
                    <tr>

                        <td>10003</td>
                        <td>Salt</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>



                    </tr>
                    <tr>

                        <td>10003</td>
                        <td>Salt</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>



                    </tr>
                    <tr>

                        <td>10004</td>
                        <td>Sun Flower Oil</td>
                        <td class="text-right">100</td>
                        <td>Ltr</td>



                    </tr>
                    <tr>

                        <td>10005</td>
                        <td>Marconda Almonds</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>



                    </tr>
                    <tr>

                        <td>10006</td>
                        <td>Pistachios</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>



                    </tr>
                    <tr>

                        <td>10007</td>
                        <td>Walnuts</td>
                        <td class="text-right">100</td>
                        <td>Kg</td>



                    </tr>
                    <tr>

                        <td>10008</td>
                        <td>Peanuts</td>
                        <td class="text-right">70</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>10009</td>
                        <td>Salt</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>


                    </tr>





                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>





                    </tr>
                </tfoot>
            </table>
        </div>





        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>


<script>
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>
