
@{
    ViewBag.Title = "ProductionOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Production Order</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>PRD Order No.</label>
                <input type="text" class="form_input" />
            </div>

    </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Product</label>
                <select class="form_input">
                    <option value="volvo">Product 1</option>
                    <option value="saab">Product 2</option>
                    <option value="opel">Product 3</option>
                    <option value="audi">Product 4</option>
                </select>
            </div>
            </div>
            <div class="row form-group">
                <div class="col-md-1">
                    <label>Start Date</label>
                    <input type="text" class="form_input" />
                </div>

                <div class="col-md-1">
                    <label>End Date</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-1">
                    <label>Qty</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label>Unit</label>
                    <select class="form_input">
                        <option value="volvo">Select Unit</option>
                        <option value="saab">Kg</option>
                        <option value="opel">Liter</option>
                        <option value="audi">Nos</option>
                        <option value="audi">Mtrs</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Plant</label>
                    <select class="form_input">
                        <option value="volvo">Plant 1</option>
                        <option value="saab">Plant 2</option>
                        <option value="opel">Plant 3</option>
                        <option value="audi">Plant 4</option>
                    </select>
                </div>
                </div>






        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="Create()">Next</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>
    function Create() {
        var url = '@Url.Action("ComponentOverView")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }

</script>