
@{
    ViewBag.Title = "ProductionOrderReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-head1">
        <h4>Production Order Report</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>PRD No.</label>
                <input type="text" class="form_input" />
            </div>


        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Material</label>
                <input type="text" class="form_input" />
            </div>

            <div class="col-md-4">
                <label>Finished Good</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Production Plant</label>
                <select class="form_input">
                    <option value="volvo">Plant 1</option>
                    <option value="saab">Plant 2</option>
                    <option value="opel">Plant 3</option>
                    <option value="audi">Plant 4</option>
                </select>
            </div>

        </div>


        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>PRD No.</h1></th>
                        <th width="7%"><h1>Start Date</h1></th>
                        <th width="7%"><h1>End Date</h1></th>
                        <th width="65%"><h1>Material</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>








                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>





        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right">Exit</button>
            </div>

        </div>


    </div>

</div>

