
@{
    ViewBag.Title = "ProductionSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#date").val("20-september-2016")
        $("#date").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>


<div class="row">
    <div class="form-head1">
        <h4>Production Schedule</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Production Schedule No.</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Date</label>
                <input type="text" id="date" class="form_input" />
            </div>
        </div>

        <div class="row form-group">
            

            
            <div class="col-md-4">
                <label>Plant</label>
                <select class="form_input">
                    <option value="">Plant 1</option>
                    <option value="">Plant 2</option>
                </select>
            </div>

        </div>



            <div class="table-responsive">
                <table class="table table-bordered" id="tab_logic">
                    <thead>
                        <tr class="grid_heading">
                            <th width="7%"><h1>PS No.</h1></th>
                            <th width="7%"><h1>Item Code</h1></th>
                            <th width="58%"><h1>Item Name</h1></th>
                            <th width="7%"><h1>Start Date</h1></th>
                            <th width="7%"><h1>Delivery Date</h1></th>
                            <th width="7%" class="text-right"><h1>Ordered Qty</h1></th>
                            <th width="7%" class="text-left"><h1>Unit</h1></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>10001</td>
                            <td>10001</td>
                            <td>Potato</td>
                            <td>25-8-2016</td>
                            <td>26-8-2016</td>
                            <td class="text-right">500</td>
                            <td>Kg</td>


                        </tr>



                        <tr>

                            <td>10001</td>
                            <td>10001</td>
                            <td>Potato</td>
                            <td>25-8-2016</td>
                            <td>26-8-2016</td>
                            <td class="text-right">500</td>
                            <td>Kg</td>



                        </tr>
                        <tr>

                            <td>10001</td>
                            <td>10001</td>
                            <td>Potato</td>
                            <td>25-8-2016</td>
                            <td>26-8-2016</td>
                            <td class="text-right">500</td>
                            <td>Kg</td>



                        </tr>
                        <tr>

                            <td>10001</td>
                            <td>10001</td>
                            <td>Potato</td>
                            <td>25-8-2016</td>
                            <td>26-8-2016</td>
                            <td class="text-right">500</td>
                            <td>Kg</td>


                        </tr>
                        <tr>
                            <td>10001</td>
                            <td>10001</td>
                            <td>Potato</td>
                            <td>25-8-2016</td>
                            <td>26-8-2016</td>
                            <td class="text-right">500</td>
                            <td>Kg</td>


                        </tr>





                    </tbody>
                    <tfoot>
                        <tr class="grid_heading">

                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>






                        </tr>
                    </tfoot>
                </table>
            </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label>Reference Details</label>
                <input type="text" class="form_input form_input-h" />
            </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2">
                    <label>Approved by</label>
                    <select class="form_input">
                        <option value="">Approved 1</option>
                        <option value="">Approved 2</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Checked by</label>
                    <select class="form_input">
                        <option value="">Checked 1</option>
                        <option value="">Checked 2</option>
                    </select>
                </div>

            </div>




            <div class="row">
                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right">Save</button>
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                </div>

            </div>


        </div>

</div>


<script>
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>


