
@{
    ViewBag.Title = "ProductionPlanEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Production Plan Edit</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Financial Year</label>
                <input type="text" class="form_input" />
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="10%"><h1>Production Code</h1></th>
                        <th width="60%"><h1>Product</h1></th>
                        <th width="10%"><h1>Packing Type</h1></th>
                        <th width="10%" class="text-left "><h1>Qty</h1></th>
                        <th width="10%" class="text-left "><h1>Unit</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>


                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>



                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button">Save</button>
            </div>

        </div>


    </div>

</div>