
@{
    ViewBag.Title = "ProductionPlanEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Production Plan Edit</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Month</label>
                <input type="text" class="form_input" />
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>PRD Code</h1></th>
                        <th width="62%"><h1>Product Name</h1></th>
                        <th width="10%"><h1>Packing Type</h1></th>
                        <th width="7%"><h1>Previous Month</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>

                        <td>P50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>



                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>



                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>