
@{
    ViewBag.Title = "ProductionPlanMPR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#from").val("20-09-2016")
        $("#to").val("23-09-2016")
        $("#from").datepicker({ dateFormat: "dd-MM-yy" });
        $("#to").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>

<div class="row">
    <div class="form-head1">
        <h4>Pending Production Plan to Material Planning Report</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-1">
                <label>From</label>
                <input type="text" id="from" class="form_input" />
            </div>
            <div class="col-md-1">
                <label>To</label>
                <input type="text" id="to" class="form_input" />
            </div>

            <div class="col-md-4">
                <label>Product</label>
                <select class="form_input">
                    <option value="">Product 1</option>
                    <option value="">Product 2</option>
                    <option value="">Product 3</option>
                    <option value="">Product 4</option>
                </select>
            </div>

        </div>



        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>Prd Plan No</h1></th>
                        <th width="58%"><h1>Product Name</h1></th>
                        <th width="7%"><h1>Month</h1></th>
                        <th width="7%"><h1>Year</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%"><center><h1>Select</h1></center></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>Potato</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">500</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>
                    <tr>

                        <td>10002</td>
                        <td>Extra Virgin Olive Oil</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">100</td>
                        <td>Ltr</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>



                    </tr>
                    <tr>

                        <td>10003</td>
                        <td>Salt</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>


                    <tr>

                        <td>10007</td>
                        <td>Walnuts</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">100</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>
                    <tr>

                        <td>10008</td>
                        <td>Peanuts</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">70</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10009</td>
                        <td>Salt</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>

                    <tr>

                        <td>100010</td>
                        <td>Marconda Almonds</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>
                    <tr>

                        <td>100011</td>
                        <td>Pistachios</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>

                    <tr>

                        <td>100012</td>
                        <td>Marconda Almonds</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>


                    <tr>

                        <td>100012</td>
                        <td>Marconda Almonds</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>


                    <tr>

                        <td>100012</td>
                        <td>Marconda Almonds</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>

                    <tr>

                        <td>100012</td>
                        <td>Marconda Almonds</td>
                        <td>june</td>
                        <td>2016</td>
                        <td class="text-right">50</td>
                        <td>Kg</td>
                        <td><center><input type="checkbox" name="" value=""></center></td>


                    </tr>






                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>





                    </tr>
                </tfoot>
            </table>
        </div>





        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="Proceed()">Proceed</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>
<script>
    function Proceed() {
        var url = '@Url.Action("MaterialPlanningReport", "ProductionPlan")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>


