
@{
    ViewBag.Title = "ProductionOrderReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-head1">
        <h4>Production Order Report</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>PRD Order No.</label>
                <input type="text" class="form_input" />
            </div>


        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Material</label>
                <input type="text" class="form_input" />
            </div>

            <div class="col-md-4">
                <label>Product</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Production Plant</label>
                <select class="form_input">
                    <option value="volvo">Plant 1</option>
                    <option value="saab">Plant 2</option>
                    <option value="opel">Plant 3</option>
                    <option value="audi">Plant 4</option>
                </select>
            </div>

        </div>


        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>PRD Order No.</h1></th>
                        <th width="7%"><h1>Start Date</h1></th>
                        <th width="7%"><h1>End Date</h1></th>
                        <th width="65%"><h1>Product</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>PO1</td>
                        <td>10-08-2016</td>
                        <td>11-08-2016</td>
                        <td>Potato Chips</td>
                        <td>100</td>
                        <td>Kg</td>

                    </tr>
                    <tr>


                        <td>PO1</td>
                        <td>12-08-2016</td>
                        <td>14-08-2016</td>
                        <td>Sea Salt</td>
                        <td>200</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>13-08-2016</td>
                        <td>13-08-2016</td>
                        <td>Sweet Spicy</td>
                        <td>500</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>14-08-2016</td>
                        <td>15-08-2016</td>
                        <td>Sweet Mesquite Barbiquie</td>
                        <td>100</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>14-08-2016</td>
                        <td>17-08-2016</td>
                        <td>Mesquite Barbiquie</td>
                        <td>1000</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>15-08-2016</td>
                        <td>15-08-2016</td>
                        <td>Cracked Pepper</td>
                        <td>500</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>16-08-2016</td>
                        <td>16-08-2016</td>
                        <td>Spicy Jelpeno</td>
                        <td>300</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>17-08-2016</td>
                        <td>18-08-2016</td>
                        <td>Sweet & Spicy</td>
                        <td>800</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>18-08-2016</td>
                        <td>18-08-2016</td>
                        <td>Orginal Potato Chips</td>
                        <td>100</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>18-08-2016</td>
                        <td>18-08-2016</td>
                        <td>Crapped Pepper</td>
                        <td>1000</td>
                        <td>Kg</td>


                    </tr>
                    <tr>

                        <td>PO1</td>
                        <td>19-08-2016</td>
                        <td>19-08-2016</td>
                        <td>Sweet Mesquito Barbiquie</td>
                        <td>500</td>
                        <td>Kg</td>


                    </tr>









                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>





        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>