
@{
    ViewBag.Title = "PurchaseOrderApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Purchase Order Approval</h4>
    </div>

    <div class="main-part pad1">



        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="10%"><h1>P.O. No</h1></th>
                        <th width="10%"><h1>P.O. Date</h1></th>
                        <th width="15%"><h1>Supplier</h1></th>
                        <th width="25%"><h1>Item</h1></th>
                        <th width="5%" class="text-right"><h1>Qty</h1></th>
                        <th width="5%" class="text-right"><h1>Unit</h1></th>
                        <th width="5%" class="text-right"><h1>Rate</h1></th>
                        <th width="5%" class="text-right"><h1>Amount</h1></th>
                        <th width="5%" class="text-right"><h1>Approval1</h1></th>
                        <th width="5%" class="text-right"><h1>Approval2</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>


                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>






        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button">Approve</button>
            </div>

        </div>


    </div>

</div>

