
@{
    ViewBag.Title = "PurchaseIndent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Purchase Indent</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>PI No.</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Date</label>
                <input type="text" class="form_input" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label>Requested by</label>
                <input type="text" class="form_input" />
            </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="tab_logic">
                    <thead>
                        <tr class="grid_heading">
                            <th width="7%"><h1>Item Code</h1></th>
                            <th width="24%"><h1>Item Name</h1></th>
                            <th width="23%"><h1>Category</h1></th>
                            <th width="7%" class="text-right"><h1>Qty</h1></th>
                            <th width="7%" class="text-left"><h1>Unit</h1></th>
                            <th width="7%"><h1>Required Date</h1></th>
                            <th width="25%"><h1>Item Special Description</h1></th>
                        </tr>


                    </thead>
                    <tbody>

                        <tr>

                            <td>NO50</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>NO50</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>NO50</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>NO50</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>NO50</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>


                    </tbody>
                    <tfoot>
                        <tr class="grid_heading">

                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>





                        </tr>
                    </tfoot>
                </table>
            </div>


        <div class="row form-group">
            <div class="col-md-2">
                <label>Indent Type</label>

                <select class="form_input">
                    <option value="volvo">Emergency</option>
                    <option value="saab">Normal</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Prefered Vendor</label>
                <input type="text" class="form_input" />
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-12">
                <label>Special Remarks</label>
                <input type="text" class="form_input form_input-h" />
            </div>
        </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button form-w " onclick="Previous()">Previous List</button>
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                    <button type="button" class="form-button right">Save</button>
                </div>

            </div>


        </div>

</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousPurchaseIndent", "ProductionPlan")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>