
@{
    ViewBag.Title = "PurchaseIndentApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="form-head1">
        <h4>Purchase Indent Approval</h4>
    </div>

    <div class="main-part pad1">


        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>Indent No</h1></th>
                        <th width="7%"><h1>Indent Date</h1></th>
                        <th width="20%"><h1>Request by</h1></th>
                        <th width="30%"><h1>Item Description</h1></th>
                        <th width="7%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%"><h1>Required Date</h1></th>
                        <th width="7%"><center><h1>Approve 1</h1></center></th>
                        <th width="7%"><center><h1>Approve 2</h1></center></th>
                        <th width="5%"><center><h1>Select</h1></center></th>

                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10002</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10003</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10004</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10005</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10006</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10007</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10008</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>10009</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>100010</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>100011</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>100012</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>100013</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>
                    <tr>

                        <td>100014</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><input type="checkbox" name="" value=""></center></td>

                    </tr>



                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>






        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="">Approve</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>