
@{
    ViewBag.Title = "ReceiveFinishedGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#ddate").val("20-September-2016")
        $("#pdate").val("23-September-2016")
        $("#edate").val("23-September-2016")
        $("#ddate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#pdate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#edate").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>

<div class="row">
    <div class="form-head1">
        <h4>Product QC Released Note</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label>Product QC No</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Document Date</label>
                <input type="text" id="ddate" class="form_input" />
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Plant</label>
                <select class="form_input">
                    <option value="">Plant 1</option>
                    <option value="">Plant 2</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Stock Point</label>
                <select class="form_input">
                    <option value="">Stock Point 1</option>
                    <option value="">Stock Pointt 2</option>
                </select>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered" id="tab_logic">
                <thead>
                    <tr class="grid_heading">
                        <th width="7%"><h1>Prd QC No.</h1></th>
                        <th width="72%"><h1>Item Name</h1></th>
                        <th width="7%" class="text-right"><h1>Received Qty</h1></th>
                        <th width="7%" class="text-left"><h1>Unit</h1></th>
                        <th width="7%"><h1>Batch</h1></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>10001</td>
                        <td>Orginal Potato Chips</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td></td>

                    </tr>

                    <tr>

                        <td>10002</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">500</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10003</td>
                        <td>Sweet &Aacute; Spicy Jalpano</td>
                        <td class="text-right">1000</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10004</td>
                        <td>Sweet Mwsquite Barbeque</td>
                        <td class="text-right">2000</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10005</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">3000</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10006</td>
                        <td>Orginal Potato Chips</td>
                        <td class="text-right">500</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10007</td>
                        <td>Sweet &Aacute; Spicy Jalpano</td>
                        <td class="text-right">250</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10008</td>
                        <td>Sea Salt &Aacute; Vinegar</td>
                        <td class="text-right">800</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>
                    <tr>

                        <td>10009</td>
                        <td>Sweet Mwsquite Barbeque</td>
                        <td class="text-right">150</td>
                        <td>Kg</td>
                        <td></td>


                    </tr>







                </tbody>
                <tfoot>
                    <tr class="grid_heading">

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="row form-group">
            <div class="col-md-2">
                <label>Production Date</label>
                <input type="text" id="pdate" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>Expiration Date</label>
                <input type="text" id="edate" class="form_input" />
            </div>

        </div>


        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button form-w" onclick="Previous()">Previous List</button>
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>


    </div>

</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousReceiveProductInventory", "ProductionPlan")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","ProductionPlan")'
        window.location = url;
    }
</script>