

@{
    ViewBag.Title = "Allocate Serial Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Previous() {
        //alert('function not defined');
    }

    function OnItemSelected(SOIid, itemId) {
        var url = '@Url.Action("Reserve")';
        url += "?id=" + SOIid + "&item=" + itemId;
        window.location = url;
    }

    function Filter() {
        $("#unreserved-table").addClass("fade");
        var saleOrder = $("#saleOrder").val();
        var item = $("#itemName").val();
        var url = '@Url.Action("PendingReservationGrid")';
        url += "?saleOrder=" + encodeURIComponent(saleOrder) + "&item=" + encodeURIComponent(item);
        $("#unreserved-table").load(url, function () {
            $("#unreserved-table").removeClass("fade");
        })
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>


    <div class="row">

        <div class="form-head1">
            <h4>Allocate Serial Number</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">
                <div class="col-md-2">
                    <label for="saleOrder">Sale Order</label>
                    <input id="saleOrder" class="form_input" onkeyup="Filter()" placeholder="Search for Sale Order" />
                </div>
                <div class="col-md-2">
                    <label for="itemName">Material/Spares</label>
                    <input id="itemName" class="form_input" onkeyup="Filter()" placeholder="Search for Material/Spare" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive" id="unreserved-table">
                        
                        @Html.Action("PendingReservationGrid")

                    </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-12 hrpart">
                            <input type="button" class="form-button right" onclick="Exit()" value="Exit">
                        </div>
                    </div>
                </div>
            </div>

