@{
    ViewBag.Title = "Reserved List for Unreservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function OnItemSelected(id) {
        var url = '@Url.Action("Unreserve")';
        url += "?id=" + id;
        window.location = url;
    }

    function Filter() {
        $("#reserved-list-table").addClass("fade");
        var saleOrder = $("#saleOrder").val();
        var serialNo = $("#serialNo").val();
        var url = '@Url.Action("ReservedListGrid")';
        url += "?saleOrder=" + encodeURIComponent(saleOrder) + "&serialNo=" + encodeURIComponent(serialNo);
        $("#reserved-list-table").load(url, function () {
            $("#reserved-list-table").removeClass("fade");
        })
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>


<div class="row">

    <div class="form-head1">
        <h4>Reserved List for Unreservation</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label for="saleOrder">Sale Order</label>
                <input id="saleOrder" class="form_input" onkeyup="Filter()" placeholder="Search for Sale Order" />
            </div>
            <div class="col-md-2">
                <label for="serialNo">Serial No.</label>
                <input id="serialNo" class="form_input" onkeyup="Filter()" placeholder="Search for Serial No." />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="reserved-list-table">

                    @Html.Action("ReservedListGrid")

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <em>**Closed Sale Orders won't show up here</em>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" onclick="Exit()" value="Exit">
            </div>
        </div>
    </div>
</div>

