@{
    ViewBag.Title = "CreateJobOrderCompletion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Job Order Completion</h4>
        </div>
        <div class="main-part pad1">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="jcno">Job Card No.</label>
                        <input type="text" id="jcno" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="cus">Customer</label>
                        <input type="text" id="cus" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2">
                        <label for="vehmodel">Vehicle Model</label>
                        <input type="text" id="vehmodel" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-4">
                        <label for="work">Work Description</label>
                        <input type="text" id="work" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-2">
                        <label for="warperiod">Warrenty Period</label>
                        <input type="date" id="warperiod" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class=" table-responsive">

                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>Task</h1></th>
                                <th><h1>Employee</h1></th>
                                <th><h1>Date</h1></th>
                                <th><h1>Actual Hrs.</h1></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" class="form_input form_input-h"></textarea>
                    </div>

                </div>
                <div class="margl">
                    <button type="submit" class="form-button">Exit</button>
                </div>
                <div class="margf">
                    <button type="submit" class="form-button">Save</button>
                </div>
                <div class="row">

                </div>
            </form>
        </div>
</div>
    </div>
