
@{
    ViewBag.Title = "CreateJobOrderCompletion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h4>Job Order Completion</h4>
</div>
<div class="container ">
    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="jcno">Job Card No.</label>
                    <input type="text" id="jcno" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="jcdate">Date</label>
                    <input type="date" id="jcdate" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="cus">Customer</label>
                    <input type="text" id="cus" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="vehmodel">Vehicle Model</label>
                    <input type="text" id="vehmodel" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="work">Work Description</label>
                    <input type="text" id="work" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="warperiod">Warrenty Period</label>
                    <input type="text" id="warperiod" class="form_input" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th>Task</th>
                            <th>Employee</th>
                            <th>Date</th>
                            <th>Actual Hrs.</th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class=" col-md-12 form-group">
                    <label for="SplRemarks1">Spl.Remarks</label>
                    <textarea id="SplRemarks1" style="min-width: 100%"></textarea>
                </div>
            </div>
            <div class="col-md-12 col-md-4">
                <div style="float:left" class="alignCenter">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div style="float:right" class="alignCenter">
                    <button type="submit" class="button-style">Save</button>
                </div>
            </div>


        </div>
    </form>
</div>

