@{
    ViewBag.Title = "PendingJobOrderCompletion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending Job Order Completion</h4>
        </div>
        <div class="main-part pad1">
            <form method="post" action="@Url.Action("Create", "JobOrderCompletion")">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>JC No</h1></th>
                                <th><h1>JC Date</h1></th>
                                <th><h1>Customer</h1></th>
                                <th><h1>Vehicle Model</h1></th>
                                <th><h1>Select</h1></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">


                    <div class="col-md-12">
                        <div style="float:left">
                            <button class="form-button">Previous</button>
                        </div>
                        <div class="margf">
                            <button type="submit" class="form-button">Exit</button>
                        
                        
                            <button type="submit" class="form-button">Proceed</button>
                        </div>

                    </div>


                </div>
            </form>
        </div>
</div></div>





