
@{
    ViewBag.Title = "CreatePurchaseRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Purchase Request</h4>
</div>

<div class="container">
    <div class="row">
        <form role="form">
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="prsno">PRS No.</label>
                    <input type="text" id="prsno" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-2 col-md-offset-8">
                    <label for="inputDate">Date</label>
                    <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="wrno">WorkShop Request No & Date </label>
                    <input type="text" id="wrno" autocomplete="off" class="form_input" />
                </div>
                <div class="col-md-3">
                    <label for="cus">Customer</label>
                    <input type="text" id="cus" class="form_input" autocomplete="off" />
                </div>
                <div class="col-md-3">
                    <label for="cusref">Customer Order Ref.</label>
                    <input type="text" id="cusref" autocomplete="off" class="form_input" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="productr">Product Description</label>
                    <select id="productr" autocomplete="off" class="form_input">
                        <option>Select Product</option>
                        <option>Product1</option>
                        <option>Product2</option>
                        <option>Product3</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="qty">Qty.</label>
                    <input type="text" id="qty" autocomplete="off" class="form_input" />
                </div>
            </div>
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th width="5%">Sl.No.</th>
                            <th width="25%">Product</th>
                            <th width="25%">Description</th>
                            <th width="10%">Part No</th>
                            <th width="5%" class="text-right ">Qty</th>
                            <th width="5%">Unit</th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
             
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="SplRemarks1">Spl.Remarks</label>
                    <textarea id="SplRemarks1" autocomplete="off" style="min-width: 100%"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="reqdate">Required Date</label>
                    <input type="date" id="reqdate" style="min-width: 100%" class="form_input" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div class="col-md-offset-11">
                    <button type="submit" class="button-style">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

