
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Purchase Request</h4>
        </div>
        <div class="main-part pad1">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="prsno">PRS No.</label>
                        <input type="text" id="prsno" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        <input type="date" id="inputDate" class="form_input" autocomplete="off" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="wrno">WorkShop Request No & Date </label>
                        <input type="text" id="wrno" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-3">
                        <label for="cus">Customer</label>
                        <input type="text" id="cus" class="form_input" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <label for="cusref">Customer Order Ref.</label>
                        <input type="text" id="cusref" autocomplete="off" class="form_input" />
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="5%"><h1>Sl.No.</h1></th>
                                <th width="25%"><h1>Material</h1></th>
                                <th width="25%"><h1>Remarks</h1></th>
                                <th width="10%"><h1>Part No</h1></th>
                                <th width="5%" class="text-right "><h1>Qty</h1></th>
                                <th width="5%"><h1>Unit</h1></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        <textarea id="SplRemarks1" autocomplete="off" class="form_input form_input-h"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="reqdate">Required Date</label>
                        <input type="date" id="reqdate" style="min-width: 100%" class="form_input" />
                    </div>
                </div>
                <div class="marg">
                    <button class="form-button">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                  
                </div>
            </form>
            </div>
        </div>
</div>

