
@{
    ViewBag.Title = "CreatePurchaseRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#BCBABE">
    <h4>Purchase Request</h4>
</div>
<div class="container ">
    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="prsno">PRS No.</label>
                    <input type="text" id="prsno" class="form_input" />
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="inputDate">Date</label>
                    <input type="date" id="inputDate" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group ">
                    <label for="wrno">WorkShop Request No & Date </label>
                    <input type="text" id="wrno" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 form-group align_right ">
                    <label for="cus">Customer</label>
                    <input type="text" id="cus" class="form_input" />
                </div>
            </div>
            <div class="col-md-4">
                <div class=" col-md-7 col-md-offset-5 form-group align_left">
                    <label for="cusref"> Customer Order Ref. </label>
                    <input type="text" id="cusref" class="form_input" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-7 form-group">
                    <label for="pdt">Product</label>
                    <select id="pdt" class="form_input">
                        <option>Select Product</option>
                        <option>product1</option>
                        <option>product2</option>
                        <option>product3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="col-md-7 col-md-offset-5 form-group align_left">
                    <label for="qty">Qty.</label>
                    <input type="text" id="qty" class="form_input" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th width="5%">Sl.No.</th>
                            <th width="25%">Product</th>
                            <th width="25%">Description</th>
                            <th width="10%">Part No</th>
                            <th width="5%" class="text-right ">Qty</th>
                            <th width="5%">Unit</th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class=" col-md-12 form-group">
                    <label for="SplRemarks1">Spl.Remarks</label>
                    <textarea id="SplRemarks1" style="min-width: 100%"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    <label for="reqdate">Required Date</label>
                    <input type="date" id="reqdate" style="min-width: 100%" class="form_input" />
                </div>
            </div>
            <div class="col-md-12 col-md-4">
                <div style="float:left" class="alignCenter">
                    <button type="submit" class="button-style">Exit</button>
                </div>
                <div style="float:right" class="alignCenter">
                    <button type="submit" class="button-style">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

