@model ArabErp.Domain.Item


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Item</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="@Url.Action("Save")">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="code">Part No</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="name">Item Name</label>
 @*                       <input type="text" autocomplete="off" name="ItemName" id="ItemName" class="form_input" />*@
                      @Html.TextBoxFor(m => m.ItemName,new { @class = "form_input" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="code">Print Name</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="name">Short Name</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="code">Item Sub Group</label>
                        <select id="desg" class="form_input" autocomplete="off">
                            <option>Select Sub Group</option>
                            <option>Sub Group1</option>
                            <option>Sub Group2</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Commodity Code</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="code">Item Group</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="name">Quality</label>
                        <select id="desg" class="form_input" autocomplete="off">
                            <option>Select Quality</option>
                            <option>Quality1</option>
                            <option>Quality2</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="code">Item Category</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="name">Unit</label>
                        <select id="desg" class="form_input" autocomplete="off">
                            <option>Select Unit</option>
                            <option>Unit1</option>
                            <option>Unit2</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="code">Min.Level</label>
                        <input type="text" id="code" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="name">ReOrder Level</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                    <div class="col-md-4">
                        <label for="name">Max.Level</label>
                        <input type="text" autocomplete="off" id="name" class="form_input" />
                    </div>
                </div>
                <div class="col-md-12 col-md-4">
                    <div style="float:left" class="alignCenter">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div style="float:right" class="alignCenter">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>


