@model IEnumerable<ArabErp.Domain.MaterialPlanning>

@using GridMvc.Html
@{
    ViewBag.Title = "ReorderLevelList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>
<div class="table-responsive">

    <div class="main-grid scroll1">

        @Html.Grid(Model).Columns(columns =>
   {
                            columns.Add(m => m.SlNo).Titled("#").SetWidth(20).Css("text-center");
                            columns.Add(m => m.ItemName).Titled("Material/Spares").SetWidth(20);
                            columns.Add(m => m.PartNo).Titled("Part No").SetWidth(10);
                            columns.Add(m => m.WRPndIssQty).Titled("Pending Issue.Qty").SetWidth(10).Css("text-right");
                            columns.Add(m => m.MinLevel).Titled("Min. Stock").SetWidth(10).Css("text-right");
                            columns.Add(m => m.CurrentStock).Titled("Curr. Stock").SetWidth(10).Css("text-right");
                            columns.Add(m => m.TotalQty).Titled("Tot. Req. Qty.").SetWidth(10).Css("text-right");
                            columns.Add(m => m.InTransitQty).Titled("In Transit Qty").SetWidth(10).Css("text-right");
                            columns.Add(m => m.PendingPRQty).Titled("Pnd. PR Qty").SetWidth(10).Css("text-right");
                            columns.Add(m => m.ShortorExcess).Titled("Short").SetWidth(10).Css("text-right");
       
                          
                        }).WithPaging(15)

    </div>


    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>


</div>

