@model IList<ArabErp.Domain.PurchaseBillRegister>
<div class="main-grid main-grid-top scroll1">
    <table class="table table-bordered">
        <thead>
            <tr class="grid_heading">
                <th width="30%"><h1>Date Wise</h1></th>
                <th class="text-right" width="10%"><h1>Purchase Amount</h1></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tbody class="grid_row">
                <tr>

                    <td class="grid-cell">@item.PurchaseBillDate.ToString("dd/MMM/yyyy")</td>
                    <td class="grid-cell text-right">@item.Amount</td>
                </tr>
            </tbody>
        }
        @*<tfoot>
                <tr class="grid_heading">
                    <th width="10%"><h1></h1></th>
                    <th width="25%"><h1></h1></th>
                    <th width="10%"><h1></h1></th>
                    <th width="30%"><h1></h1></th>
                    <th class="text-right" width="5%"><h1></h1></th>
                    <th class="text-right" width="10%"><h1></h1></th>
                    <th class="text-right" width="10%"><h1></h1></th>
                </tr>
            </tfoot>*@
    </table>
</div>

<div class="row-count1">
    <h5>Row Count:- @Model.Count()</h5>
</div>


