
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="form-head1">
        <h4>Purchase Bill Register</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">

            <div class="col-md-2">
                <label for="cboStockpoint">Supplier</label>
                @Html.DropDownList("cboSupplier", (SelectList)ViewBag.SupplierList, "Any", new { @class = "form_input" })
            </div>
        
            <div class="col-md-3">
                <label for="cboItem">Item</label>
                @Html.DropDownList("cboItem", (SelectList)ViewBag.ItemList, "Any", new { @class = "form_input" })
            </div>
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-7).ToString("dd-MMMM-yyyy")" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" />
            </div>
            <div class="col-md-1">
                <input type="button" class="form-button filter" value="OK" onclick="Filter()" />
            </div>
        </div>
        <br />

        <div class="table-responsive scroll4" id="Stores_Ledger">
            @*@Html.Action("StoresLedger")*@
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>

