@model IList<ArabErp.Domain.LoginHistory>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="form-head form-head3">
            <h4>Login History</h4>
        </div>
        <div class="main-part pad1 white">
            <div class="row">
                
                    <div class="main-grid main-grid-top">
                        <div class="table-responsive">
                            @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(m => m.UserName).Titled("User Name").SetWidth(400);
                            columns.Add(m => m.LoginDate).Titled("Date").SetWidth(15);
                            columns.Add(m => m.LoginTime).Titled("Login Time").SetWidth(15);
                            columns.Add(m => m.LogoutTime).Titled("Logout Time").SetWidth(15);
                        }).WithPaging(10)
                        </div>

                </div>

      
                <div class="row-count1">
                    <h5>Row Count:- @Model.Count()</h5>
                </div>

            </div>
        </div>
    </div>



