
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Item Group</h4>
</div>

<div class=" container ">
    <div class=" row ">

        <div class=" col-md-6 col-md-offset-3 ">
            <form role="form">
                <div class="row form-group ">

                    <div class="col-md-6">
                        <label for="ItemGroupId">Code</label>
                        <input type="text" id="ItemGroupId" autocomplete="off" class="form_input " />
                    </div>
                    <div class="col-md-6 ">
                        <label for="ItemGroupName">Item Group</label>
                        <input type="text" id="ItemGroupName" autocomplete="off" class="form_input " />
                    </div>
                </div>

                    <div class="row form-group ">
                        <div class="col-md-6 ">
                            <label for="ItemCatCode">Category</label>
                            <select id="ItemCatCode" class=" form_input " autocomplete="off">
                                <option>Select Category</option>
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                            </select>
                        </div>
                    </div>
                                       
                    <div class="col-md-12 col-md-4">
                        <div style="float:left" class="alignCenter">
                            <button type="submit" class="button-style">Exit</button>
                        </div>
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>

               
            </form>
        </div>
    </div>
</div>
