@model ArabErp.Domain.ItemGroup
@{ViewBag.Title = "Create";Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    $(document).ready(function () {
        $('#ItemGroup_form').bootstrapValidator({
            fields: {
                ItemGroupRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                ItemGroupName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

                ItemCategoryId: {
                    validators: {
                        notEmpty: {
                            message: 'Please Select Category'
                        }
                    }
                },

            }
        });
    })

</script>



<div class=" container ">
    <div class=" row ">
        <div class="form-head1">
            <h4>Item Group</h4>
        </div>
        <div class="main-part pad1">
            <div class="row">
                <div class="col-md-4">
                </div>
@using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "ItemGroup_form" }))
{
                <div class="col-md-4">
                    <div class="part">
                        <label for="ItemGroupRefNo">Code</label>
                        @Html.TextBoxFor(m => m.ItemGroupRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })
                    </div>
                    <div class="part">
                        <label for="ItemCategoryId">Category</label>
                        @Html.DropDownListFor(m => Model.ItemCategoryId, (SelectList)ViewBag.ItemCategory, "Select Item Category", new { @class = "form_input", autocomplete = "off" })
                   </div>

                    <div class="part">
                        <label for="ItemGroupName">Name</label>
                        @Html.TextBoxFor(m => m.ItemGroupName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="marg3">
                        <button type="button" class="form-button top1">Exit</button>


                        <button type="submit" class="form-button">Save</button>
                    </div>

                    </div>

}
                <div class="col-md-4">
                </div>
            </div>
        </div>





        <div class="row">


            <div class="col-md-12">
                @Html.Action("FillItemGroupList")
            </div>



        </div>
    </div>

        </div>
