@model  ArabErp.Domain.OpeningStock
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }
</script>
<div class="row">
    <div class="form-head1">
        <h4>Opening Stock</h4>
    </div>
@using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "openingstock_form" }))
                {
    <div class="main-part pad1">
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="row form-group">
              
                
                    <div class="col-md-2">
                        <label for="stockpoint">Stock Point</label>
                        @Html.DropDownListFor(m => Model.stockpointId, (SelectList)ViewBag.Stockpointlist, "Select Stock Point", new { @class = "form_input", autocomplete = "off" })
                    </div>
            
                    @*<div class="col-md-2">
                        <label>Customer</label>
                        <input id="Customer" class="form_input" placeholder="Search for Customer " onkeyup="Filter()" />
                    </div>*@
             
                </div>
          
                <div class="table-responsive" id="Opening_Stock">
                    @Html.Action("OpeningStock")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
            <input type="button" class="form-button right" onclick="Exit()" value="Exit">
            <button type="submit" class="form-button right">Save</button>
            </div>
        </div>
         
    </div>
}
</div>


