
@model IList<ArabErp.Domain.PendingSupplyOrder>

<strong>Last LPO</strong>
<div class="div-bordered">
    <table class="table-responsive table-hover table-bordered full-width-table">
        <thead class="grid_heading">
            <tr>
                <th>LPO No &amp; Date</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody class="grid_row">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td><strong>@item.SoNoWithDate</strong></td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td align="center" colspan="2">
                        <em>No items found!</em>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
