@{
    ViewBag.Title = "Material Activity Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#item-filter').combobox();
    })

    function Filter() {
        var item = $('#item-filter').val();
        var url = '@Url.Action("GetPendingLPO")';
        $('#pending-lpo-table').addClass('fade');
        $('#pending-lpo-table').load(url, { item: item }, function () {
            $('#pending-lpo-table').removeClass('fade');
        });
    }
</script>

<div class="row">
    <div class="form-head1">
        <h4>Material Activity Report</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="">Month</label>
                        @Html.DropDownList("item-filter", new SelectList(ViewBag.materialList, "Value", "Text"), "Select Material/Spare",
                        new { @class = "form_input", @onchange = "Filter()", @placeholder = "Search for material/spare" })
                    </div>
                </div>
                <div class="row" id="material_activity_report">
                    <div class="col-md-4" id="pending-lpo-table"></div>
                    <div class="col-md-4" id="pending-grn-table"></div>
                    <div class="col-md-4" id="pending-issue-table"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" onclick="Exit()" value="Exit">
            </div>
        </div>
    </div>

</div>

