@{
    ViewBag.Title = "Commissioned Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="form-head1">
        <h4>Commissioned Projects</h4>
    </div>

    <div class="main-part pad1">
        <div id="commissioned-projects-table">

        </div>
    </div>
</div>

