@model IList<ArabErp.Domain.DeliveryChallan>

@{
    ViewBag.Title = "Delivery Challans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Filter() {
        var url = '@Url.Action("DeliveryChallansGrid")';
        //$.getJSON()
    }

    function OnItemSelected(id) {
        var url = '@Url.Action("CreateAfterSalesTrans")';
        url += "/" + id;
        window.location = url;
    }

</script>

<div class="row">

    <div class="form-head1">
        <h4>Delivery Challans</h4>
    </div>

    <div class="main-part pad1">
        <div id="commissioned-projects-table">
            @Html.Partial("_DeliveryChallansGrid", Model)
        </div>
    </div>
</div>

